
{#
LimeSurvey
Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
All rights reserved.
License: GNU/GPL License v2 or later, see LICENSE.php
LimeSurvey is free software. This version may have been modified pursuant
to the GNU General Public License, and as distributed it includes or
is derivative of works licensed under the GNU General Public License or
other free or open source software licenses.
See COPYRIGHT.php for copyright notices and details.

(¯`·._.·(¯`·._.· User Forms Layout  ·._.·´¯)·._.·´¯)

This file renders the user forms such as: token (survey participant), and register.
TODO: register

#}

<!DOCTYPE html>
<html lang="{{ aSurveyInfo.languagecode }}" dir="{{ aSurveyInfo.dir }}" class="{{ aSurveyInfo.class.html }} {{ aSurveyInfo.languagecode }} dir-{{ aSurveyInfo.dir }} " >

    {# Headers, metadatas, etc #}
    {{ include('./subviews/head.twig') }}

    <body class="{{ aSurveyInfo.class.body }} lang-{{surveylanguage}} {{surveyformat}}">

        <!-- Outer Frame Container -->
        <div class="{{ aSurveyInfo.class.outerframe }}" id="{{ aSurveyInfo.id.outerframe }}">

            <!-- Main Row -->
            <div id="{{ aSurveyInfo.id.mainrow }}">

                <!-- Main Col -->
                <div class="{{ aSurveyInfo.class.maincol }} " id="{{ aSurveyInfo.id.maincol }}">

                    <div class='{{aSurveyInfo.aForm.sType}}-page'>
                        <div >
                            {# OLD FORMHEADING #}
                            {% if aSurveyInfo.aForm.sType == 'token'  %}
                                {{ "To participate in this restricted survey, you need a valid token." | t }}
                            {% endif %}

                            {% if aSurveyInfo.aForm.sType == 'captcha'  %}
                                {{ "Before you start, please prove you are human." | t }}
                            {% endif %}
                        </div>

                        <div>

                            {# TOKEN #}
                            {% if aSurveyInfo.aForm.sType == 'token'  %}
                                <p class='{{ aSurveyInfo.class.maincoldivdivbp }} text-info' {{ aSurveyInfo.attr.maincoldivdivbp }}>
                                    {% if aSurveyInfo.aForm.token == null  %}
                                        {{ "If you have been issued a token, please enter it in the box below and click continue." | t }}
                                    {% else %}
                                        {{ "Please confirm the token by answering the security question below and click continue." | t }}
                                    {% endif %}
                                </p>
                            {% endif %}

                            {% if  not empty(aSurveyInfo.aForm.aEnterErrors) %}
                                <ul>
                                    {% for  key, error in aSurveyInfo.aForm.aEnterErrors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <div class="form-{{ aSurveyInfo.aForm.sType }}" >
                                {#
                                    array of attributes of the form tag.
                                    To add a new attribute, just add an entry:
                                    'attribute' : 'value',
                                #}
                                {%
                                    set htmlOptions = {
                                       'id'          : 'form-' ~ aSurveyInfo.aForm.sType ,
                                       'name'        : 'limesurvey',
                                       'class'       : 'ls-form form form-horizontal',
                                   }
                                %}

                                {#  TOKEN FORM #}
                                <!-- Start of the main Form-->
                                {{
                                    C.Html.form(
                                        ( aSurveyInfo.surveyUrl ),
                                            'post',
                                           (htmlOptions)
                                        )
                                }}

                                {% if aSurveyInfo.aForm.sType == 'token'  %}

                                    <div>
                                        <label {{ aSurveyInfo.attr.maincolformlabel }}>
                                            {{ "Token:" | t }}
                                            <span>
                                                ( {{ "Mandatory" | t }} )
                                            <span>

                                        </label>

                                        <div>
                                            {% if aSurveyInfo.aForm.token == null  %}
                                                <input {{ aSurveyInfo.attr.maincolformdivainput }} >
                                            {% else %}

                                                {% set passwordFieldHtmlOptions = {
                                                    'id'       : 'token',
                                                    'required' : true,
                                                    'readonly' : true,
                                                    }
                                                %}

                                                {{
                                                    C.Html.passwordField(
                                                        'token',
                                                        (( aSurveyInfo.aForm.token )),
                                                        (passwordFieldHtmlOptions)
                                                    )
                                                }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    {#  CAPTACHA INSIDE TOKEN FORM #}
                                    {% if ( aSurveyInfo.aForm.bCaptchaEnabled == true ) %}
                                        <div class='{{ aSurveyInfo.class.maincolformdivb }} '>

                                            <!-- Doesn't seems aria capable -->
                                            <label {{ aSurveyInfo.attr.maincolformdivblabel }} >
                                                {{ "Please enter the letters you see:" | t }}
                                                <span>
                                                    ( {{ "Mandatory" | t }} )
                                                <span>
                                            </label>

                                            <div>
                                                <div class='{{ aSurveyInfo.class.maincolformdivbdivdiv }} ' >
                                                    <div class='{{ aSurveyInfo.class.maincolformdivbdivdivdiv }}' >
                                                        {# see: LS_Twig_Extension::renderCaptcha() in application/core/LS_Twig_Extension.php #}
                                                        {{ renderCaptcha() }}
                                                    </div>
                                                    <input {{ aSurveyInfo.attr.maincolformdivbdivdivinput }} >
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {{ aSurveyInfo.aForm.hiddenFields }}

                                    <div class='{{ aSurveyInfo.class.maincolformdivc }}  '>
                                        <div class='{{ aSurveyInfo.class.maincolformdivcdiv }}' >
                                            <button  {{ aSurveyInfo.attr.maincolformdivcdivbutton }}>
                                                {{ "Continue" | t }}
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if aSurveyInfo.aForm.sType == 'captcha'  %}
                                    <div>
                                        <div class='{{ aSurveyInfo.class.maincolformdivddiv }}'>
                                            <label {{ aSurveyInfo.attr.maincolformdivddivlabel }}>
                                                {{ "Please enter the letters you see:" | t }}
                                            </label>
                                            <div>
                                                <div class='{{ aSurveyInfo.class.maincolformdivddivcoldiv }}'>
                                                    <div class='{{ aSurveyInfo.class.maincolformdivddivcoldivdiv }}'>
                                                        {{ renderCaptcha() }}
                                                    </div>
                                                    <input {{ aSurveyInfo.attr.maincolformdivddivcolinput }} >
                                                </div>
                                            </div>
                                        </div>

                                        {{ aSurveyInfo.aForm.hiddenFields }}

                                        <div class='{{ aSurveyInfo.class.maincolformdivddivb }} '>
                                            <div class='{{ aSurveyInfo.class.maincolformdivddivbdiv }} '>
                                                <button {{ aSurveyInfo.attr.maincolformdivddivbdivbutton }} >
                                                    {{ "Continue" | t }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- main col -->
            </div> <!-- main row -->
        </div> <!-- outer frame container -->

        <!-- some template.js function launched before ready -->
        <script type="text/javascript">
        /*<![CDATA[*/
            if(template === undefined){
                var template = new Template();
            }
            template.initUserForms();
            /*]]>*/
        </script>
    </body>
</html>
<!-- end of startpage.twig -->
