{#
    Language Changer for Top Menu.
    Show a language changer inside the top menu

    @var array  aSurveyInfo.alanguageChangerDatas.aListLang :  contains the list of available languages for this survey, 'language_code' => 'language name'
    @var string aSurveyInfo.alanguageChangerDatas.sSelected :  the language code of the selected language

    The language change is done via javascript
#}

{% if aSurveyInfo.alanguageChangerDatas != false %}
    {% set aLCD  = aSurveyInfo.alanguageChangerDatas %}                         {# shortcut for aSurveyInfo.alanguageChangerDatas #}    

    {#
        It generates a bootstrap dropdown button.
        @see: http://getbootstrap.com/components/#dropdowns
    #}

    <!-- Language Changer, top menu version -->
    <li class="dropdown ls-no-js-hidden">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ "Language:" | t }} {{ aLCD.aListLang[aLCD.sSelected] | t }}      {# {{ aLCD.aListLang[aLCD.sSelected] | t }}: retreives the language name of the selected language and translates it#}
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            {# List of available languages.  #}
            {% for value, lang in aLCD.aListLang %}
                <li class="index-item">
                    <a href='#' data-limesurvey-lang='{{ value }}' class="ls-language-link">
                        {{ lang | t }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>

    {#
        Generates a simple bootstrap HTML button using the Yii widget. @see: http://www.yiiframework.com/wiki/48/by-example-chtml/#hh2
        You can add remove attribute to the button via the array aButtonhtmlOptions
    #}
    {% set aButtonhtmlOptions = {
            'id'   : 'changlangButton',
            'type' : 'submit',
            'value': 'changelang',
            'name' : 'move',
            'class': 'btn btn-default ls-js-hidden',
            }
    %}

    {{
        C.Html.htmlButton(
        ("Change the language" | gT ),
        aButtonhtmlOptions
        )
        | raw
    }}

{% endif %}

<script>
// Method for link
$(document).ready(function(){
    $('.ls-language-link').on('click', function(){
        var lang = $(this).data('limesurvey-lang');

        /* we are not in a forum, can not submit directly */
        if($('form#limesurvey').length==1){
            /* The limesurvey form exist in document, move select and button inside and click */
            $("form#limesurvey [name='lang']").remove();                        // Remove existing lang selector
            $("<input type='hidden'>").attr('name','lang').val(lang).appendTo($('form#limesurvey'));
            $('#changlangButton').clone().appendTo($('form#limesurvey')).click();
        }else{
            // If there are no form : we can't use it */
            /* No form, not targeturl : just see what happen */
            $("<form>", {
                "class":'ls-js-hidden',
                "html": '<input type="hidden" name="lang" value="' + lang + '" />',
                "action": target,
                "method": 'get'
            }).appendTo(document.body).submit();
        }
    });
});
</script>
