{#
/**
 * Yes / No Question, radio item Html
 *
 * @var $name                           $ia[1]
 * @var $yChecked
 * @var $nChecked
 * @var $naChecked
 * @var $noAnswer
 * @var $value                          $_SESSION['responses_'.Yii::app()->getConfig('surveyID')][$name]
 */
#}

<ul class="ls-answers answers-list yesno-button radio-list list-group list-group-horizontal" role="radiogroup" aria-labelledby="ls-question-text-{{ basename }}">
    <!-- Yes -->
    <li id="javatbd{{ name }}Y" class="answer-item radio-item">
        <input
                type="radio"
                name="{{ name }}"
                id="answer{{ name }}Y"
                value="Y"
                {{ yChecked }}
        />
        <label for="answer{{ name }}Y" class="control-label answer-text">
            {{ gT('Yes') }}
        </label>
    </li>

    <!-- No -->
    <li id="javatbd{{ name }}N" class="answer-item radio-item">
        <input
                type="radio"
                name="{{ name }}"
                id="answer{{ name }}N"
                value="N"
                {{ nChecked }}
        />
        <label for="answer{{ name }}N" class="control-label answer-text">
            {{ gT('No') }}
        </label>
    </li>

    <!-- No answer -->
    {% if noAnswer %}
        <li id="javatbd{{ name }}" class="answer-item radio-item noanswer-item">
            <input
                    type="radio"
                    name="{{ name }}"
                    id="answer{{ name }}"
                    value=""
                    {{ naChecked }}
            />
            <label for="answer{{ name }}" class="control-label answer-text">
                {{ gT('No answer') }}
            </label>
        </li>
    {% endif %}
</ul>
{# Value for expression manager javascript (use id) ; no need to submit #}
{{ C.Html.hiddenField("java"~name,value,({
    'id' : "java"~name,
    'disabled' : true,
})) }}
