<!-- Survey's texts -->
<div class="card card-primary h-100">
    <!-- Default panel contents -->
    <div class="card-header">
        <h5 class="card-title" role="heading" aria-level="2">{{gT("Text elements")}}</h5>
        <a class="float-end btn btn-outline-secondary btn-xs pjax" data-bs-toggle="tooltip" title="{{ gT("Survey text elements") }}" href="{{ createUrl('surveyAdministration/rendersidemenulink', {'subaction': 'surveytexts', 'surveyid' : surveyid}) }}">
          <i class="ri-tools-line"></i>
        </a>
    </div>
    <!-- List group -->
    <ul class="list-group list-group-flush">
            <!-- Description -->
        <li class="list-group-item p-0 border-0">
            <div class="ls-flex-row col-12">
                <div class="col-4 card-label">
                    {{gT("Description:")}}
                </div>
                <div class="col-8 ls-card-grid__description">
                        {% if surveyTextContent.surveyls_description != '' %}
                            {{getTextDisplayWidget(surveyTextContent.surveyls_description, "description_text")}}
                        {% endif %}
                </div>
            </div>
        </li>
        <!-- Welcome -->
        <li class="list-group-item p-0 border-0">
            <div class="ls-flex-row col-12">
                <div class="col-4 card-label">
                    {{gT("Welcome:")}}
                </div>
                <div class="col-8 ls-card-grid__description">
                        {% if surveyTextContent.surveyls_welcometext != '' %}
                            {{getTextDisplayWidget(surveyTextContent.surveyls_welcometext, "welcome_text")}}
                        {% endif %}
                </div>
            </div>
        </li>

        <!-- End message -->
        <li class="list-group-item p-0 border-0">
            <div class="ls-flex-row col-12">
                <div class="col-4 card-label">
                    {{gT("End message:")}}
                </div>
                <div class="col-8 ls-card-grid__description">
                    {% if surveyTextContent.surveyls_endtext != '' %}
                        {{getTextDisplayWidget(surveyTextContent.surveyls_endtext, "end_text")}}
                    {% endif %}
                </div>
            </div>
        </li>
        {% if oSurvey.showsurveypolicynotice > 0 %}
                    <!-- Data security notice -->
                    <li class="list-group-item p-0 border-0">
                        <div class="ls-flex-row col-12">
                            <div class="col-4 card-label">
                                 {{ gT("Privacy policy text:") }}
                            </div>
                            <div class="col-8 ls-card-grid__description">
                                {% if surveyTextContent.surveyls_policy_notice != '' %}
                                    {{getTextDisplayWidget(surveyTextContent.surveyls_policy_notice, "security_notice")}}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <!-- Data security notice error -->
                    <li class="list-group-item p-0 border-0">
                        <div class="ls-flex-row col-12">
                            <div class="col-4 card-label">
                                {{ gT("Privacy policy error text:") }}
                            </div>
                            <div class="col-8 ls-card-grid__description">
                                {% if surveyTextContent.surveyls_policy_error != '' %}
                                    {{getTextDisplayWidget(surveyTextContent.surveyls_policy_error, "security_error")}}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <!-- Data security notice label -->
                    <li class="list-group-item p-0 border-0">
                        <div class="ls-flex-row col-12">
                            <div class="col-4 card-label">
                                {{ gT("Privacy policy label text:") }}
                            </div>
                            <div class="col-8 ls-card-grid__description">
                                {% if surveyTextContent.surveyls_policy_notice_label != '' %}
                                    {{getExpressionManagerOutput(surveyTextContent.surveyls_policy_notice_label)}}
                                {% endif %}
                            </div>
                        </div>
                    </li>
            {% endif %}
    </ul>
</div>
