{#
/**
 * Yes / No Question, buttons item Html
 *
 * @var $name                           $ia[1]
 * @var $yChecked
 * @var $nChecked
 * @var $naChecked
 * @var $noAnswer
 * @var $value                          $_SESSION['responses_'.Yii::app()->getConfig('surveyID')][$name]
 */
#}

<div class="ls-answers answers-list yesno-button btn-group btn-group-justified" role="radiogroup" aria-labelledby="ls-question-text-{{ basename }}">
    <!-- Yes -->
    <input type="radio" class="btn-check ls-button-radio" name="{{ name }}" id="answer{{ name }}Y" value="Y" {{ yChecked }}>
    <label class="btn btn-primary mb-3 answer-item ls-button-label" id="javatbd{{ name }}_CY" for="answer{{ name }}Y">
        <span class="fa fa-check ls-icon ri-checkbox-circle-line" aria-hidden="true"></span> {{ gT('Yes') }}
    </label>
    <!-- No -->
    <input type="radio" class="btn-check ls-button-radio" name="{{ name }}" id="answer{{ name }}N" value="N" {{ nChecked }}>
    <label class="btn btn-primary mb-3 answer-item ls-button-label" id="javatbd{{ name }}_CN" for="answer{{ name }}N">
        <span class="fa fa-ban ri-close-circle-line ls-icon" aria-hidden="true"></span> {{ gT('No') }}
    </label>
    <!-- No answer -->
    {% if noAnswer %}
        <input type="radio" class="btn-check ls-button-radio" name="{{ name }}" id="answer{{ name }}" value="" {{ naChecked }}>
        <label class="btn btn-primary mb-3 answer-item ls-button-label" id="javatbd{{ name }}" for="answer{{ name }}">
            <span class="fa fa-circle-thin ri-checkbox-blank-circle-line ls-icon" aria-hidden="true"></span> {{ gT('No answer') }}
        </label>
    {% endif %}
</div>
{# Value for expression manager javascript (use id) ; no need to submit #}
{{ C.Html.hiddenField("java"~name,value,({
    'id' : "java"~name,
    'disabled' : true,
}))
}}
