{#
/**
 * Equation Html
 * @var $name
 * @var $sValue
 * @var $sEquation
 */
#}

<!-- Equation -->

<!-- answer -->
<input type="hidden" name="{{ name }}" id="java{{ name }}" value="{{ sValue }}">
<div class='{{ coreClass }} {{ insideClass }} hidden'>
    {{ processString(sEquation) }}
</div>
<!-- end of answer -->
