{#
/**
 * Equation Html
 * @var $name
 * @var $sValue
 * @var $sEquation
 */
#}

<!-- Equation -->

<!-- answer -->
<div class='{{ coreClass }} d-none'>
    <input type="hidden" name="{{ name }}" id="java{{ name }}" value="{{ sValue }}">
    <div class='{{ insideClass }}'>
        {{ sEquation }}
    </div>
</div>
<!-- end of answer -->
