{#
/**
 * List radio Html : item 'other' row
 *
 * @var $name
 * @var $answer_other
 * @var $sDisplayStyle
 * @var $sDisable
 * @var $myfname
 * @var $othertext
 * @var $checkedState
 * @var $kpclass
 * @var $sValue
 * @var $oth_checkconditionFunction
 * @var $checkconditionFunction
 */
#}

<!-- answer_row_other -->
<li id='javatbd{{ myfname }}' class='form-group answer-item radio-text-item form-inline' {{ sDisplayStyle }} >
    <!-- Checkbox + label -->
    <div class="form-group othertext-label-checkox-container radio-item">
        <input
        type="radio"
        value="-oth-"
        name="{{ name }}"
        id="SOTH{{ name }}"
        {{ checkedState }}
        onclick="{{ checkconditionFunction }}(this.value, this.name, this.type)"
        />

        <label for="SOTH{{ name }}" class="control-label label-radio" id="label-id-{{ name }}">{{ othertext }}</label>
    </div>

    <!-- comment -->
    <div class="form-group text-item other-text-item">
        <input
        type="text"
        class="form-control {{ kpclass }} input-sm"
        id="answer{{ name }}othertext"
        name="{{ name }}other"
        title="{{ gT('Other') }}" {{ answer_other }}
        onkeyup="if($.trim($(this).val())!=''){ $('#SOTH{{ name }}').click(); };  {{ oth_checkconditionFunction }}",
        aria-labelledby="label-id-{{ name }}"
        />
    </div>
</li>
<!-- end of answer_row_other -->
