<!-- Privacy message -->
<div class="well">
    {% set describeprivacy = "" %}
    {% if aSurveyInfo.datasecurity_notice %}
        <div class="{{ aSurveyInfo.class.privacydatasectextbody }}" id="datasecurity_notice">
            {{ aSurveyInfo.datasecurity_notice }}
        </div>
        {% set describeprivacy = "datasecurity_notice" %}
    {% endif %}
    {% if aSurveyInfo.datasecuritynotaccepted == true %}
        <div class="{{ aSurveyInfo.class.activealert }} alert alert-danger alert-dismissible fade in alert-dismissible" {{ aSurveyInfo.attr.activealert }} id="datasecurity_error">
            <a {{ aSurveyInfo.attr.activealertbutton }} class="{{ aSurveyInfo.class.activealertbutton }} close" aria-hidden="true">&times;</a>
            {{ aSurveyInfo.datasecurity_error }}
        </div>
        {% set describeprivacy = "datasecurity_error " ~ describeprivacy %}
    {% endif %}
    <div class="form-inline">
        <label for="datasecurity_accepted" class="control-label {{ aSurveyInfo.class.privacydataseccheckboxlabel }}">
            <input class="{{ aSurveyInfo.class.privacydataseccheckbox }}" type="checkbox" name="datasecurity_accepted" id="datasecurity_accepted"{% if describeprivacy %} aria-describedby="{{describeprivacy}}" {% endif %}/>
            {{ aSurveyInfo.datasecurity_notice_label }}
        </label>
    </div>
</div>
