{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.

    (¯`·._.·(¯`·._.· Clear All Content  ·._.·´¯)·._.·´¯)

    This file displays the page shown to a respondent when they have cleared the survey (only show "Restart this survey")

    NOTE: This content is included inside mainrow.twig
#}

<div class='{{ aSurveyInfo.class.clearall }}' {{ aSurveyInfo.attr.clearall }}>
    <div class=" {{ aSurveyInfo.class.clearalldiv }} form-heading" {{ aSurveyInfo.attr.clearalldiv }}>
        <p>{{ gT("Answers cleared") }}</p>
        <a href="{{ aSurveyInfo.surveyUrl }}" class="{{ aSurveyInfo.class.clearalla }} btn btn-primary" {{ aSurveyInfo.attr.clearalla }}>{{ gT("Restart this survey") }}</a>
    </div>
</div>
