<p>{{ aSurveyInfo.optin_message }} </p>
{% if aSurveyInfo.optin_link %}
    <form method="POST" action="{{ aSurveyInfo.optin_link }}">
        <input type="hidden" name="{{ aSurveyInfo.optin_csrf_token_name }}" value="{{ aSurveyInfo.optin_csrf_token_value }}">
        <p><button type="submit" class="btn btn-outline-secondary btn-lg"> {{ gT("I confirm") }} </button></p>
    </form>
{% endif %}
