{#
/**
 * Multiple choice with comments question, item Html
 * @var $liclasses
 * @var $liid
 * @var $kpclass
 * @var $title
 * @var $sDisplayStyle
 * @var $name                       $myfname
 * @var $id                         answer$myfname
 * @var $value                       Y
 * @var $classes                    ''
 * @var $checked                    ''
 * @var $checkconditionFunction     $checkconditionFunction(this.value, this.name, this.type);
 * @var $checkconditionFunctionComment
 * @var $labeltext                  $ansrow['question']
 * @var $javaname                   java$myfname
 * @var $javavalue                  ''
 * @var $checked                    if (isset($_SESSION['survey_'.Yii::app()->getConfig('surveyID')][$myfname]))  ...
 * @var $inputCommentId             'answer'.$myfname2
 * @var $commentLabelText           gT('Make a comment on your choice here:') }}
 * @var $inputCommentName           $myfname2
 * @var $inputCOmmentValue          if (isset($_SESSION['survey_'.Yii::app()->getConfig('surveyID')][$myfname2])) {$answer_main .= htmlspecialchars($_SESSION['survey_'.Yii::app()->getConfig('surveyID')][$myfname2],ENT_QUOTES);}
 */
#}
<!-- answer_row -->
<li id="javatbd{{ name }}" class='checkbox-text-item mb-1 other-item clearfix'>
    <!-- Checkbox + label -->
    <div class="row">
        <div class="col-md-{{ sLabelWidth }} col-12 mb-2">
            <div class="answer-item text-item other-text-item ls-input-group"><!-- input-group from BS seems OK too -->
                <label for="{{ id }}" class="label-text control-label ls-input-group-extra" id="label-{{ id }}" >{{ processString(labeltext) }}</label>
                <input
                   class="other-text form-control input multipleco-other-topic {{ classes }} {{ kpclass }}"
                   type="text"
                   name="{{ name }}"
                   id="{{ id }}"
                   value="{{ value }}"
                   data-number={{ otherNumber }}
                />
            </div>
        </div>

        <!-- Comment -->
        <div class="col-md-{{ sInputContainerWidth }} col-12 mb-2">
            <div class="answer-item text-item comment-item">
                <input
                    class='form-control {{ kpclass }}'
                    type='text'
                    id='{{ inputCommentId }}'
                    name='{{ inputCommentName }}'
                    value='{{ inputCOmmentValue }}'
                    aria-labelledby='label-{{ id }} {{ id }}'
                />
            </div>
        </div>
    </div>
</li>
<!-- end of answer_row -->
