{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.

    (¯`·._.·(¯`·._.· Content First Page  ·._.·´¯)·._.·´¯)

    This content is included inside mainrow.twig

#}

{# render the layout_global content block #}

{# Include the form opening tag #}
{{ include('./subviews/header/start_form.twig') }} <!-- main form -->

    {# This will display the script and the hidden inputs needed for Expression Manager #}
    {{ aSurveyInfo.EM.ScriptsAndHiddenInputs  }}

    {# Include the alert for no JavaScript #}
    {{ include('./subviews/messages/no_js_alert.twig') }}

    {# Include the language changer selector #}
    {{ include('./subviews/navigation/language_changer.twig') }}

    {# If survey mode is "All in One", this will add the welcome/privacy messages (if activated) #}
    {{ include('./subviews/messages/welcome.twig') }}
    

    {{ include('./subviews/privacy/privacy.twig') }}

    {# Presents the navigator #}
    {{ include('./subviews/navigation/navigator.twig') }}
</form> <!-- main form -->

{{ registerScript("BasicFirstPageThemeScripts", "
    if(window.basicThemeScripts === undefined){ 
        window.basicThemeScripts = new ThemeScripts(); 
    } 
    basicThemeScripts.initWelcomePage(); 
", 'POS_POSTSCRIPT') }}
