{#
    This file is part of LimeSurvey
    Copyright (C) 2007-2018 The LimeSurvey Project Team
    This file render the exit button accessible without javascript
#}

<div class="{{ aSurveyInfo.class.clearallwrapper }} form-inline">
    <label class="form-group {{ aSurveyInfo.class.clearalllabel }}">
        <input {{ aSurveyInfo.attr.clearallconfirm }} class="{{ aSurveyInfo.class.clearallconfirm }}"><span class="control-label">{{gT("Please confirm you want to clear your response?")}}</span>
    </label>
    
    <a 
    href="#" 
    data-limesurvey-submit='{ "clearall":"clearall" }'  
    data-confirmedby='{ "confirm-clearall":"confirm" }' 
    {{ aSurveyInfo.attr.clearallbutton }} 
    class="{{ aSurveyInfo.class.clearallbutton }} btn btn-link" 
    data-confirmlabel='{{gT("Please confirm you want to clear your response?" )}}'
    >{{gT("Exit and clear survey")}}</a>
</div>
