{#
    This file is part of LimeSurvey
    Copyright (C) 2007-2018 The LimeSurvey Project Team
    This file render the load or save buttons without javascript needed
#}
{% if aSurveyInfo.aNavigator.load.show == "Y" %}
    <button {{ aSurveyInfo.attr.loadbutton }} accesskey="l" class="{{ aSurveyInfo.class.loadbutton }} btn btn-default">{{ gT("Load unfinished survey") }}</button>
{% endif %}
{% if aSurveyInfo.aNavigator.save.show == "Y" %}
<button data-limesurvey-submit='{ "saveall":"saveall" }' accesskey="s" class='{{ aSurveyInfo.class.savelinkslia }} btn btn-default'>
            {{ gT('Resume later') }}
        </button>
{% endif %}
