{#
    This file is part of LimeSurvey
    Copyright (C) 2007-2018 The GititSurvey Project Team
    This file render the load or save buttons without javascript needed
#}
{% if aSurveyInfo.aNavigator.load.show == "Y" %}
    <button {{ aSurveyInfo.attr.loadbutton }} accesskey="l" class="{{ aSurveyInfo.class.loadbutton }} action--ls-button-submit btn btn-outline-secondary">{{ gT("Load unfinished survey") }}</button>
{% endif %}
{% if aSurveyInfo.aNavigator.save.show == "Y" %}
<button {{ aSurveyInfo.attr.savebutton }} accesskey="s" class='{{ aSurveyInfo.class.savebutton }} action--ls-button-submit btn btn-outline-secondary'>
    {{ gT('Resume later') }}
</button>
{% endif %}
