{#
 * Cell when checkbox layout is used in advanced question attribute
 *
 * @var $dataTitle
 * @var $ld
 * @var $answertypeclass
 * @var $value $myvalue : 1 VS 0 or '' : OK to use it as boolean directly
 * @var $myfname2
 * @var $setmyvalue
 * @var $checkconditionFunction
 * @var $extraclass
#}
<!-- answer_td_checkboxes -->
<td class="answer_cell_{{ ld }} question-item answer-item {{ answertypeclass }}-item checkbox-item">
    <!-- Used by EM , don't update id *-->
    {{ C.Html.hiddenField("java"~myfname2, C.Html.encode( value ),({
        'id' : "answer"~myfname2,
        'disabled' : true,
        }))
    }}
    {{ C.Html.checkBox(myfname2,value,({
        'class' : extraclass,
        'id' : "cbox"~myfname2,
        'value' : "1",
        'aria-labelledby' : "answertext" ~ basename ~ "_" ~ dataCode,
    }))
    }}
    <label for="cbox{{ myfname2 }}" class="ls-label-xs-visibility" aria-hidden="true">{{ processString(dataTitle) }}</label>
</td>
<!-- end of answer_td_checkboxes -->
