{#
 * Cell when checkbox layout is used in advanced question attribute
 *
 * @var $dataTitle
 * @var $ld
 * @var $answertypeclass
 * @var $value $myvalue
 * @var $myfname2
 * @var $setmyvalue
 * @var $checkconditionFunction
 * @var $extraclass
#}

<!-- answer_td_checkboxes -->
<td class="answer_cell_{{ ld }} question-item answer-item {{ answertypeclass }}-item checkbox-item">
    
    {{ C.Html.hiddenField("java"~myfname2, C.Html.encode( value ),({
        'id' : "java"~myfname2,
        'disabled' : true,
        }))
    }}
    
    <input
        type="checkbox"
        name="{{ myfname2 }}"
        id="answer{{ myfname2 }}"
        class="{{ extraclass }}",
        {{ setmyvalue }}
        value="1"
    />
    <label for="answer{{ myfname2 }}" class="checkbox-label control-label"></label>
</td>
<!-- end of answer_td_checkboxes -->
