<div class="row">
    <div class='{{ aSurveyInfo.class.registersuccessblock }}' {{ aSurveyInfo.attr.registersuccessblock }} >
        <ul class='{{ aSurveyInfo.class.registersuccesslist }}' {{ aSurveyInfo.attr.registersuccesslist }}>
            <li class='{{ aSurveyInfo.class.registersuccesslistitem }}' {{ aSurveyInfo.attr.registersuccesslistitem }}>
                <div class="row">
                    <div class='{{ aSurveyInfo.class.registersuccesslistlabel }}' {{ aSurveyInfo.attr.registersuccesslistlabel }}>
                        {{ "First name" | t }}
                    </div>
                    <div class='{{ aSurveyInfo.class.registersuccesslistcontent }}' {{ aSurveyInfo.attr.registersuccesslistcontent }}>
                        {{ aSurveyInfo.sFirstName }}
                    </div>
                </div>
            </li>
            <li class='{{ aSurveyInfo.class.registersuccesslistitem }}' {{ aSurveyInfo.attr.registersuccesslistitem }}>
                <div class="row">
                    <div class='{{ aSurveyInfo.class.registersuccesslistlabel }}' {{ aSurveyInfo.attr.registersuccesslistlabel }}>
                        {{ "Last name" | t }}

                    </div>
                    <div class='{{ aSurveyInfo.class.registersuccesslistcontent }}' {{ aSurveyInfo.attr.registersuccesslistcontent }}>
                        {{ aSurveyInfo.sLastName }}

                    </div>
                </div>
            </li>
            <li class='{{ aSurveyInfo.class.registersuccesslistitem }}' {{ aSurveyInfo.attr.registersuccesslistitem }}>
                <div class="row">
                    <div class='{{ aSurveyInfo.class.registersuccesslistlabel }}' {{ aSurveyInfo.attr.registersuccesslistlabel }}>
                        {{ "Email address" | t }}

                    </div>
                    <div class='{{ aSurveyInfo.class.registersuccesslistcontent }}' {{ aSurveyInfo.attr.registersuccesslistcontent }}>
                        {{ aSurveyInfo.sEmail }}

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
