<small class="{{ aSurveyInfo.class.required  }} text-danger asterisk fa fa-asterisk float-start small" {{ aSurveyInfo.attr.required  }} >&nbsp;</small>
<span class="{{ aSurveyInfo.class.requiredspan  }} visually-hidden text-danger asterisk" {{ aSurveyInfo.attr.requiredspan  }} > ({{ gT("Mandatory") }})</span>
