<small class="{{ aSurveyInfo.class.required  }} text-danger asterisk fa fa-asterisk pull-left small" {{ aSurveyInfo.attr.required  }} ></small>
<span class="{{ aSurveyInfo.class.requiredspan  }} sr-only text-danger asterisk" {{ aSurveyInfo.attr.requiredspan  }} > ({{ gT("Mandatory") }})</span>
