{#
/**
 * Day dropdown Html
 * @var $dayId
 * @var $currentdate
 */
#}

<!-- day -->
<div class="col-12">
    <label for="day{{ dayId }}" class="visually-hidden control-label">
        {{ gT('Day') }}
    </label>
    <select id="day{{ dayId }}" name="day{{ dayId }}" class="form-select day">
        <option value="">{{ gT('Day') }}</option>
        {% for i in 1..31 %}
            <option value="{{ sprintf('%02d', i) }}"{% if i == intval(currentday) %} selected{% endif %}>
                {{ sprintf('%02d', i) }}
            </option>
        {% endfor %}
    </select>
</div>
<!-- end of day -->
