{#
/**
 * Hour dropdown Html
 * @var $hourId
 * @var $currenthour
 * @var $datepart
 */
#}
<!-- hour -->
<label for="hour{{ hourId }}" class="sr-only">
    {{ gT('Hour') }}
</label>

<select id="hour{{ hourId }}" name="hour{{ hourId }}" class="hour form-control">
    <option value="">{{ gT('Hour') }}</option>
    {% for i in 0..23 %}
        <option value="{{ i }}" {% if i is same as(currenthour) %} 'selected' {% endif %} >
            {% if (datepart=='H') %}
                {{sprintf('%02d', i)}}
            {% else %}
                {{ i }}
            {% endif %}
        </option>
    {% endfor %}
</select>

<!-- end of hour -->
