{#
/**
 * @var $no_answer
 */
#}

<!-- thead -->
<td></td>
<th class="answer-text" id="answer{{ basename }}-I" role="columnheader">{{ gT("Increase") }}</th>
<th class="answer-text" id="answer{{ basename }}-S" role="columnheader">{{ gT("Same") }}</th>
<th class="answer-text" id="answer{{ basename }}-D" role="columnheader">{{ gT("Decrease") }}</th>
{% if no_answer %}
    <th class="answer-text noanswer-text"  id="answer{{ basename }}-" role="columnheader">{{ gT("No answer") }}</th>
{% endif %}
<!-- end of  thead -->
