{#
/**
 * yesnouncertain Html
 *
 * @var $sColumns   : the columns, generated with the view columns/col.php
 * @var $sHeaders   : the headers, generated with the view rows/cell/thead.php
 * @var $sRows      : the rows, generated with the view rows/answer_row.php
 * @var $anscount
 * @var $extraclass
 * @var $answerwidth
 *
 */
#}
<!-- Yes/No/Uncertain-->
<!-- answer -->
<div  role="group" aria-labelledby="ls-question-text-{{ basename }}">
    <table class="{{ coreClass }} table table-bordered table-hover">
        <colgroup class="col-responses">
            <col class="col-answers"  style='width: {{ answerwidth }}%;' />
                {# columns/col.twig #}
                {{ sColumns }}
        </colgroup>
        <thead>
            <tr class="ls-heading">
                    {# rows/cell/thead.twig #}
                    {{ sHeaders }}
            </tr>
        </thead>
        <tbody>
            {% if anscount==0 %}
                <tr>
                    <th class="answertext">
                        {{ gT('Error: This question has no answers.') }}
                    </th>
                </tr>
            {% endif %}
                {# rows/answer_row.php #}
                {{ sRows }}
        </tbody>
    </table>
</div>
<!-- end of answer -->
