{% extends "./views/basic.twig" %}
{% block choice %}
    <div class="col-xs-12">
        <strong class="sortable-subtitle sortable-rank-subtitle">{{rank_title}}</strong>
        <!-- @todo : move htmlblock at the good place -->      
        <div id="sortable-choice-{{qId}}" class="sortable-choice sortable-list ls-flex wrap ls-flex-row display_block_group ">
            {% for index, ansrow in  answers %}
                <div id="javatbd{{rankingName}}{{ansrow.code}}" class="ls-choice answer-item sortable-item sortable-enable sortable-button ls-flex sortable-block grabable" data-value="{{ansrow.code}}">
                    <div class="sortable-block-content">
                    {% if show_handle is same as('yes') %} 
                        <i class="fa fa-bars bigIcons grabable selector__dragHandle "></i>
                        <span class="icon-divider"></span>
                    {% else %}
                    {% endif %}
                    {% if show_number is same as('yes') %} 
                        <b class="selector__index_row">#{{(index+1)}}</b>
                        &nbsp;
                    {% endif %}
                    {{ansrow.answer}}
                    </div>
                </div>
            {% endfor %}
            <div class="hidden ls-remove"></div>
        </div>
    </div>
{% endblock %}

{% block rank %}
    <div class="col-xs-12">
        <strong class="sortable-subtitle sortable-rank-subtitle">{{choice_title}}</strong>
        <div id="sortable-rank-{{qId}}" class="sortable-rank sortable-list list-group display_block_group">
            <div class="hidden ls-remove"></div>
        </div>
    </div>
{% endblock %}
