{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.



    (¯`·._.·(¯`·._.· Default Template Main Layout  ·._.·´¯)·._.·´¯)

    This is the main layout of the template.
    It is the file used to display groups and questions.

    If you're creating your own template, remember there is no obligation to respect the current file flow of this template.
    This is different from the old LimeSurvey template engine, where you had to provide every one of the pstpl files.
    Here, you must have a file called main_layout.twig (called from SurveyRuntimeHelper::run() ).
    Other than that, you're free to organize your files and inclusions as you want.



    (¯`·._.·(¯`·._.· Bootstrap ·._.·´¯)·._.·´¯)

    LimeSurvey uses Bootstrap.
    See: https://getbootstrap.com

    This template is an instance of Bootswatch Theme Flatly.
    See: https://bootswatch.com/



    (¯`·._.·(¯`·._.· Twig Engine  ·._.·´¯)·._.·´¯)

    The template engine uses Twig.
    See: http://twig.sensiolabs.org/

    The main variable is aSurveyInfo. It's an array containing the main information about the survey.
    aSurveyInfo also contains other needed arrays, such as aNavigator, or aQuestionGroups (which contain aQuestions), etc.

    If you want to see what is availabe in aSurveyInfo, turn debug mode on in application/config.php, and copy the following line to the end of the <body> element below:
    {{ dump(aSurveyInfo) }}

    To echo a variable, just insert                      : {{ variable }}
    To translate a string, just insert                   : {{ string | t }}

    NOTE: aSurveyInfo should be cleaned to remove the unnecessary data.


    (¯`·._.·(¯`·._.· Twig Engine: advanced  ·._.·´¯)·._.·´¯)

    For security reason, Twig is in a sandBox.
    About sandBox, see: http://twig.sensiolabs.org/doc/2.x/api.html#sandbox-extension

    Available functions/Object Methods are defined in internal.php: components => twigRenderer
    Eg:
         Functions : 'include', 'dump', 'flatEllipsizeText', 'getLanguageData', 'array_flip', 'array_intersect_key', 'registerPublicCssFile', 'getAllQuestionClasses', 'getShowqnumcode', 'intval'

         Methods   :
                    - CHtml::textfield() (and: form, link, emailField, beginForm, endForm, dropDownList,htmlButton)
                    - Survey::getAllLanguages()
                    - LSHttpRequest::getParam()

    If you need to add simple functions or static methods, just add them to internal.php.
    If you need to add complex process, use application/core/LS_Twig_Extension.php (more help/comments there)


    NOTE: Feel free to ask for functions, variables, etc, that you feel are missing - https://bugs.limesurvey.org/my_view_page.php
#}



{# Call the global layout #}
{% extends "./layout_global.twig" %}

{# Replace the content block #}
{% block content %}

    {# render the layout_global content block #}
    {{ parent() }}

    {# Include the form opening tag #}
    {{ include('./subviews/start_form.twig') }} <!-- main form -->

        {# This will display the script and the hidden inputs needed for Expression Manager #}
        {{ aSurveyInfo.EM.ScriptsAndHiddenInputs  }}

        {# Include the alert for no JavaScript #}
        {{ include('./subviews/no_js_alert.twig') }}

        {# If survey mode is "All in One", it will add the welcome/privacy messages if needed #}
        {{ include('./subviews/privacy/allinone_mode_welcome_privacy.twig') }}

        {#
            PRESENT THE QUESTION GROUPS

            This is the main part. It will render each question group for this page (depending of Survey Mode setting )
            Each group will then render its own questions

         #}
        {% for  aGroup in aSurveyInfo.aGroups %}
            {{ include('./subviews/survey/group.twig') }}
        {% endfor %}

        {# Presents the navigator #}
        {% if aSurveyInfo.aNavigator.show %}
            {{ include('./subviews/navigation/navigator.twig') }}
        {% endif %}


    </form> <!-- main form -->

{% endblock %}
