{#
/**
 * List radio Html : item row
 *
 * @var $name
 * @var $code
 * @var $answer
 * @var $checkedState
 * @var $myfname
 */
#}

{% set button_size_class = (question_template_attribute.button_size == 'default' or question_template_attribute.button_size is empty) ? '' : "btn-"~question_template_attribute.button_size %}
{% set max_buttons_row = (question_template_attribute.max_buttons_row == 'default' or question_template_attribute.max_buttons_row is empty) ? 'col-sm-2' : question_template_attribute.max_buttons_row %}

<!-- answer_row -->
<div id="javatbd{{ myfname }}" class="bootstrap-buttons-div col-xs-12 {{ max_buttons_row }}">
    <div class="button-item btn btn-primary {{ button_size_class }} {% if checkedState!='' %} active {% endif %} col-xs-12 col-sm-12">
        <input
            class="bootstrap-radio sr-only"
            type="radio"
            name="{{ name }}"
            id="answer{{ name }}{{ code }}"
            value={{ code }}
            {{ checkedState }}
        />
        <label for="answer{{ name }}"> {{ answer }}
        </label>
    </div>
</div>
<!-- end of answer_row -->
