{#
/**
 * List radio Html : item 'no answer' row
 *
 * @var $name   $ia[1]
 * @var $check_ans
 * @var $checkconditionFunction
 */
#}

{% set button_size_class = (question_template_attribute.button_size == 'default' or question_template_attribute.button_size is empty) ? '' : "btn-"~question_template_attribute.button_size %}
{% set max_buttons_row = (question_template_attribute.max_buttons_row == 'default' or question_template_attribute.max_buttons_row is empty) ? 'col-sm-2' : question_template_attribute.max_buttons_row %}

<!-- answer_row_noanswer -->
<div class="bootstrap-buttons-div col-xs-12 {{ max_buttons_row }}">
    <div id="javatbd{{ name }}" class="button-item btn btn-primary {{ button_size_class }} {% if check_ans!='' %} active {% endif %} col-xs-12 col-sm-12">
        <input
            class="bootstrap-radio sr-only"
            type="radio"
            name="{{ name }}"
            id="answer{{ name }}"
            value="{{ code }}"
            {{ check_ans }}
            />
        <label for="answer{{ name }}">
            <span class="" aria-hidden="true"></span> {{ gT('No answer') }}
        </label>
    </div>
</div>
<!-- endof answer_row_noanswer -->
