{#
/**
 * List radio Html : item 'other' row
 *
 * @var $name
 * @var $answer_other
 * @var $sDisplayStyle
 * @var $sDisable
 * @var $myfname
 * @var $othertext
 * @var $checkedState
 * @var $kpclass
 * @var $sValue
 * @var $oth_checkconditionFunction
 * @var $checkconditionFunction
 */
#}

{% set button_size_class = (question_template_attribute.button_size == 'default' or question_template_attribute.button_size is empty) ? '' : "btn-"~question_template_attribute.button_size %}
{% set max_buttons_row = (question_template_attribute.max_buttons_row == 'default' or question_template_attribute.max_buttons_row is empty) ? 'col-md-2' : question_template_attribute.max_buttons_row %}

<!-- answer_row_other -->
<!-- Checkbox + label -->
<div class="bootstrap-buttons-div col-12 {{ max_buttons_row }}">
    <div id="javatbd{{ name }}other" class="form-check bootstrap-buttons-div col-12 {% if checkedState!='' %} active focus {% endif %}"  {{ sDisplayStyle }}>
        <input
            class="btn-check visually-hidden button-item"
            type="radio"
            value="-oth-"
            name="{{ name }}"
            id="answer{{ name }}othercbox"
            {{ checkedState }}
            />
        <label class="btn btn-primary w-100 {{ button_size_class }}" for="answer{{ name }}othercbox">
            {{ othertext }}
        </label>
        <input
        type="hidden"
        id="answer{{ name }}othertextaux"
        {{ answer_other }}
        >
    </div>
</div>
<!-- end of answer_row_other -->
