{#<div class="row">#}
{#    <div class='{{ aSurveyInfo.class.registersuccessblock }}' {{ aSurveyInfo.attr.registersuccessblock }} >#}
{#        <ul class='{{ aSurveyInfo.class.registersuccesslist }}' {{ aSurveyInfo.attr.registersuccesslist }}>#}
{#            <li class='{{ aSurveyInfo.class.registersuccesslistitem }}' {{ aSurveyInfo.attr.registersuccesslistitem }}>#}
{#                <div class="row">#}
{#                    <div class='{{ aSurveyInfo.class.registersuccesslistlabel }}' {{ aSurveyInfo.attr.registersuccesslistlabel }}>#}
{#                        {{ gT("First name") }}#}
{#                    </div>#}
{#                    <div class='{{ aSurveyInfo.class.registersuccesslistcontent }}' {{ aSurveyInfo.attr.registersuccesslistcontent }}>#}
{#                        {{ aSurveyInfo.sFirstName }}#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <li class='{{ aSurveyInfo.class.registersuccesslistitem }}' {{ aSurveyInfo.attr.registersuccesslistitem }}>#}
{#                <div class="row">#}
{#                    <div class='{{ aSurveyInfo.class.registersuccesslistlabel }}' {{ aSurveyInfo.attr.registersuccesslistlabel }}>#}
{#                        {{ gT("Last name") }}#}

{#                    </div>#}
{#                    <div class='{{ aSurveyInfo.class.registersuccesslistcontent }}' {{ aSurveyInfo.attr.registersuccesslistcontent }}>#}
{#                        {{ aSurveyInfo.sLastName }}#}

{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <li class='{{ aSurveyInfo.class.registersuccesslistitem }}' {{ aSurveyInfo.attr.registersuccesslistitem }}>#}
{#                <div class="row">#}
{#                    <div class='{{ aSurveyInfo.class.registersuccesslistlabel }}' {{ aSurveyInfo.attr.registersuccesslistlabel }}>#}
{#                        {{ gT("Email address") }}#}

{#                    </div>#}
{#                    <div class='{{ aSurveyInfo.class.registersuccesslistcontent }}' {{ aSurveyInfo.attr.registersuccesslistcontent }}>#}
{#                        {{ aSurveyInfo.sEmail }}#}

{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
