<small class="{{ aSurveyInfo.class.required  }} asterisk ri-asterisk superset" {{ aSurveyInfo.attr.required  }} ></small>
<span class="{{ aSurveyInfo.class.requiredspan  }} visually-hidden asterisk" {{ aSurveyInfo.attr.requiredspan  }} > ({{ gT("Mandatory") }})</span>
