{#
/**
* Multiple short texts question, item input text Html

* @var $question
* @var $alert
* @var $extraclass
* @var $sDisplayStyle
* @var $myfname
* @var $tiwidth
* @var $prefix
* @var $suffix
* @var $kpclass
* @var $maxlength
* @var $dispVal
* @var $checkconditionFunction
*/
#}

<!--answer_row_inputtext -->
<li id="javatbd{{ myfname }}" class="selector--inputondemand-list-item hidden question-item answer-item text-item form-group{% if alert %} ls-error-mandatory has-error{% endif %}{{ extraclass }}" {{ sDisplayStyle }} >
    <label class="control-label col-xs-12 col-sm-{{ sLabelWidth }}{% if sLabelWidth == 0 %} hidden{% endif %}" for="answer{{ myfname }}">
        {{ question }}
    </label>
    <div class="col-xs-12 col-sm-{{ sInputContainerWidth }}">
        
        {% if prefix != '' or suffix != '' %}
            <div class="ls-input-group">
        {% endif %}
            {% if prefix != '' %}
                <div class="ls-input-group-extra prefix-text prefix">
                    {{ prefix }}
                </div>
            {% endif %}
            <input
                class="form-control {{ kpclass }} selector--inputondemand-list-input"
                type="text"
                name="{{ myfname }}"
                id="answer{{ myfname }}"
                value="{{ dispVal }}"
                {% if inputsize %} size="{{ inputsize }}" {% endif %}
                {% if maxlength %} maxlength="{{ maxlength }}" {% endif %}
                {% if numbersonly %} data-number="{{ numbersonly }}" {% endif %}
                />
            {% if suffix != '' %}
                <div class="ls-input-group-extra suffix-text suffix">
                    {{ suffix }}
                </div>
            {% endif %}
        {% if prefix != '' or suffix != '' %}
            </div>
        {% endif %}
    </div>
</li>
<!-- end of answer_row_inputtext -->
