{#
/**
 * Ranking question, item list header Html
 * @var $sOptions         : the select options, generated with the view answer_row.php
 *
 * @var $name
 * @var $myfname
 * @var $labeltext
 * @var $rankId
 * @var $rankingName
 * @var $max_answers
 * @var $min_answers
 * @var $qid
 * @var $choice_title
 * @var $rank_title
 * @var $rank_help
 * @var $showpopups
 * @var $samechoiceheight
 * @var $samelistheight
 */
#}

<!-- Ranking -->

<!-- answer -->
<div class="{{ coreClass }}">
    <ul class="list-unstyled ls-js-hidden-sr answers-list select-list " role="group" aria-labelledby="ls-question-text-{{ basename }}">
        {# rows/answer_row.twig #}
            {{ sSelects }}
    </ul>
    <div class="ls-no-js-hidden answers-list{{ samechoiceheight ? " list-samechoiceheight": "" }}{{ samelistheight ? " list-samelistheight": "" }} row" aria-hidden="true">
        <div class="col-md-6 col-6">
            <strong class="sortable-subtitle sortable-rank-subtitle">{{ rank_title }}</strong>
            <!-- @todo : move htmlblock at the good place -->
            <ul id="sortable-choice-{{ qId }}" class="sortable-choice sortable-list list-group">
                {% for ansrow in answers %}
                    <li id="javatbd{{ rankingName }}_R{{ ansrow.aid }}" class="ls-choice list-group-item answer-item sortable-item sortable-enable" data-value="{{ ansrow.code }}">
                        {{ ansrow.answer }}
                    </li>
                {% endfor %}
                <li class="d-none ls-remove"></li>
            </ul>
        </div>
        <div class="col-md-6 col-6">
            <strong class="sortable-subtitle sortable-rank-subtitle">{{ choice_title }}</strong>
            <ul id="sortable-rank-{{ qId }}" class="sortable-rank sortable-list list-group">
                <li class="d-none ls-remove"></li>
            </ul>
        </div>
    </div>
</div>

<!--  The list with HTML answers -->

<div class="d-none" style="display:none">
    <div style='display:none' id='ranking-{{ qId }}-maxans'>
        {{ max_answers }}
    </div>
    <div style='display:none' id='ranking-{{ qId }}-minans'>
        {{ min_answers }}
    </div>
    <div style='display:none' id='ranking-{{ qId }}-name'>
        {{ rankingName }}
    </div>

</div>
<!-- end of answer -->
