{#
/**
 * Multiple Choice Html : item 'other' row
 *
 * @var $sDisable
 * @var $myfname
 * @var $othertext
 * @var $checkedState
 * @var $kpclass
 * @var $sValue
 * @var $oth_checkconditionFunction
 * @var $checkconditionFunction
 * @var $sValueHidden
 * @var $wrapper
 */
#}

<!-- answer_row_other -->
<div class="bootstrap-buttons-div col-12 {{ max_buttons_row }}">
    <div id='javatbd{{ myfname }}' class="form-check col-12 {% if checkedState!='' %} active {% endif %}">

        <!-- Checkbox + label -->
            <!-- checkbox -->
            <input
                class="other-checkbox bootstrap-checkbox-other btn-check button-item"
                type="checkbox"
                name="{{myfname}}cbox"
                id="answer{{myfname}}cbox"
                data-name="{{myfname}}"
                {{checkedState}}
                aria-hidden="true"
            />
            <label for="answer{{myfname}}cbox" class="col-12 btn btn-primary {{ button_size_class }}" id="label-{{myfname}}-other">{{othertext}}</label>

        <!-- hidden input -->
        <input
            type="hidden"
            name="java{{myfname}}"
            id="java{{myfname}}"
            value="{{sValueHidden}}"
            class="button-checkbox-other-value"
            data-name="{{myfname}}"
        />
    </div>
</div>
 <!-- Form group ; item row -->
<!-- end of answer_row_other -->
