{#
Supported combinations of answerscales and subquestions:
- Case 1: answerscales = 1 and subquestions = 0
- Case 2: answerscales = 0 and subquestions = 1
- Case 3: answerscales = 0 and subquestions = 0

See QuestionAdministrationController::updateQuestionDefaultValues() for details.
#}
{% set first=true %}

<!-- Loop all language, and then hide all but the current selected one with JS. -->
{% for lang in allLanguages %}
    <div class="lang-hide lang-{{ lang }}">
        {# Case 1 #}
        {%  if answerScales == 1 and subquestions == 0 %}
            {#{% for scale_id in range(0, answerScales - 1) %}#}
            {% set scale_id = 0 %}
            {% set opts = defaultValues[lang][question.type][scale_id] %}
            <div class="form-group col-sm-12">
                <label class="control-label" for='defaultvalues[{{ lang }}][{{ scale_id }}]'>
                    {%  if answerScales > 1 %}
                        {{ sprintf(gT("Default answer for scale %s:"), scale_id + 1) }}
                    {% else %}
                        {{ gT("Default answer value:") }}
                    {% endif %}
                </label>
                <select class='form-control' name='defaultvalues[{{ lang }}][{{ scale_id }}]'
                        id='defaultvalues[{{ lang }}][{{ scale_id }}]'>
                    <option value='' {{ (opts['defaultvalue'] is null) ? 'selected="selected"' : '' }}>
                        {{ gT('<No default value>') }}
                    </option>
                    {% for answer in opts['answers'] %}
                        <option {{ (answer.attributes['code'] == opts['defaultvalue']) ? 'selected="selected"' : '' }} value="{{ answer.attributes['code'] }}">
                            {{ answer.answerl10ns[lang].answer }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {%  if question.other == 'Y' %}
                <div class="form-group col-sm-12">
                    <label class="control-label" for='other[{{ lang }}][{{ scale_id }}]'>
                        {{ gT("Default value for option 'Other':") }}
                    </label>
                    <input type='text' name='other[{{ lang }}][{{ scale_id }}]' id='other[{{ lang }}][{{ scale_id }}]' value='{{ defaultValues[lang][question.type]['Ydefaultvalue'] }}'>
                </div>
            {% endif %}
            {#{% endfor %}#}
        {% endif %}
        {# Case 2 #}
        {% if answerScales == 0 and subquestions == 1 %}
            {% set scale_id = 0 %}
            {#{% for scale_id in range(0, subquestions - 1) %}#}
            {% set opts = defaultValues[lang][question.type][scale_id] %}
            {#{% if subquestions > 1 %}
                <div class='header ui-widget-header'>
                    {{ sprintf(gT('Default answer for scale %s:'), scale_id + 1) }}
                </div>
            {% endif %}#}

            {% if question.type in ['L', 'M', 'O', 'P', '!'] %}
                {% set inputStyle = 'enum' %}
            {% elseif question.type in ['K', 'Q'] %}
                {% set inputStyle = 'text' %}
            {% else %}
                {% set inputStyle = '' %}
            {% endif %}
            {% if inputStyle == 'enum' or inputStyle == 'text' %}
                <div class="default-answer-rows">
                    {% for subquestion in opts['sqresult'] %}
                        {% include 'defaultValuesSubquestionRow.twig' with {
                            'lang': lang,
                            'scale_id': scale_id,
                            'subquestion_title': subquestion['title'],
                            'subquestion_text': subquestion['question'],
                            'options': subquestion['options'],
                            'defaultvalue': subquestion['defaultvalue']
                        } %}
                    {% endfor %}
                </div>
                <!-- Template -->
                {% include 'defaultValuesSubquestionRow.twig' with {
                        'lang': lang,
                        'scale_id': scale_id,
                        'subquestion_title': '{{title_placeholder}}',
                        'subquestion_text': '{{text_placeholder}}',
                        'options': opts['template']['options'],
                        'defaultvalue': '',
                        'is_template': true
                    } %}
            {% endif %}
            {#{% endfor %}#}
        {% endif %}
        {# Case 3 #}
        {% if answerScales == 0 and subquestions == 0 %}
            {% if question.type == 'Y' %}
                
                <div class="form-group col-sm-12">
                    <label class="control-label" for='defaultvalues[{{ lang }}]'>
                        {{ gT("Default value:") }}
                    </label>
                    {#
                        Call default value widget for yes/no question type
                        This is fast insert rewrite of this view follows
                    #}
                    {{ getYesNoDefaultValueWidget(lang, question, defaultValues, "defaultvalues[" ~ lang ~ "]", "defaultvalues_em[" ~ lang ~ "]") }}
                </div>
            {% else %}
                <div class="form-group col-sm-12">
                    <label class="control-label" for='defaultvalues[{{ lang }}]'>
                        {{ gT("Default value:") }}
                    </label>
                    <textarea {{ hasUpdatePermission ? '' : 'disabled="disabled" readonly="readonly"' }}
                        cols='50'
                        name='defaultvalues[{{ lang }}]'
                        id='defaultvalues[{{ lang }}]'>{{ defaultValues[lang][question.type][0] }}</textarea>
                </div>
            {% endif %}
        {% endif %}

        {% if first and allLanguages|length > 1 %}
            <div class="form-group col-sm-12">
                <label class="control-label" for='samedefault'>
                    {{ gT('Use same default value across languages:') }}
                </label>
                <input type='checkbox' name='samedefault' id='samedefault' {{ question['same_default'] ? 'checked="checked"' : '' }} />
            </div>
        {% endif %}
    </div>
    {% set first=false %}
{% endfor %}
