<div class="col-8 offset-2 mb-3">
    <div class="card border-{{ class }}">
        <div class="card-body">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div>{{ message }}</div>
                    <button id="get-token" class="btn btn-primary text-nowrap" type="button">{{ buttonCaption }}</button>
                </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '#get-token', () => {
        const width = 600;
        const height = 700;
        const left = (window.screen.width - width) / 2 + window.screen.availLeft;
        const top = (window.screen.height - height) / 2 + window.screen.availTop;

        window.open('{{ tokenUrl }}', 'lime_oauth', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top + 'location=0,menubar=0,status=0,toolbar=0');
    });
    
    window.addEventListener('message', function(event) {
        if (event.data == 'REFRESH') {
            window.location.replace("{{ reloadUrl }}");
        }
    });
</script>