{# Bubbles view is not mature enough for usage yet #}
{% extends "./views/basic.twig" %}
{% block choice %}
    <div class="col-12 ranking-advanced-available-items">
        <p><strong class="sortable-subtitle sortable-rank-subtitle">{{choice_title}}</strong></p>
        <!-- @todo : move htmlblock at the good place -->      
        <div id="sortable-choice-{{qId}}" class="sortable-choice sortable-list display_bubble_group">
            {% for index, ansrow in  answers %}
                <div id="javatbd{{rankingName}}_R{{ansrow.aid}}" class="ls-choice answer-item sortable-item sortable-enable grabable display_bubble" data-value="{{ansrow.code}}">
                    {% if show_number is same as('yes') %} 
                        <b class="selector__index_row">#{{(index+1)}}</b>
                        &nbsp;
                    {% endif %}
                    {{ansrow.answer}}
                </div>
            {% endfor %}
            <div class="d-none ls-remove"></div>
        </div>
    </div>
{% endblock %}

{% block rank %}
    <div class="col-12 ranking-advanced-sorted-items">
        <p><strong class="sortable-subtitle sortable-rank-subtitle">{{rank_title}}</strong></p>
        <div id="sortable-rank-{{qId}}" class="sortable-rank sortable-list display_bubble_group">
            <div class="d-none ls-remove"></div>
        </div>
    </div>
{% endblock %}
