{% extends "./views/basic.twig" %}
{% block choice %}
    <div class="col-md-6 col-6">
        <strong class="sortable-subtitle sortable-rank-subtitle">{{choice_title}}</strong>
        <!-- @todo : move htmlblock at the good place -->      
        <ul id="sortable-choice-{{qId}}" class="sortable-choice sortable-list list-group">
            {% for index, ansrow in  answers %}
                {% if show_handle is same as('yes') %} 
                    <li id="javatbd{{rankingName}}_R{{ansrow.aid}}" class="ls-choice list-group-item answer-item sortable-item sortable-enable" data-value="{{ansrow.code}}">
                    <i class="fa fa-bars bigIcons grabable selector__dragHandle "></i>
                    <span class="icon-divider"></span>
                {% else %}
                    <li id="javatbd{{rankingName}}_R{{ansrow.aid}}" class="ls-choice list-group-item answer-item sortable-item sortable-enable grabable" data-value="{{ansrow.code}}">
                {% endif %}
                {% if show_number is same as('yes') %} 
                    <b class="selector__index_row">#{{(index+1)}}</b>
                    &nbsp;
                {% endif %}
                    {{ansrow.answer}}
                </li>
            {% endfor %}
            <li class="d-none ls-remove"></li>
        </ul>
    </div>
{% endblock %}

{% block rank %}
    <div class="col-md-6 col-6">
        <strong class="sortable-subtitle sortable-rank-subtitle">{{rank_title}}</strong>
        <ul id="sortable-rank-{{qId}}" class="sortable-rank sortable-list list-group">
            <li class="d-none ls-remove"></li>
        </ul>
    </div>
{% endblock %}
