<div class="well">
    <p>{{ gT("The function can be used with question ID or question code. The results are not updated on the same page.") }}</p>
    <p>{{ gT("Each parameter can use ExpressionScript, and the expressions are checked before being sent to the function.") }}</p>
    <p>{{ gT("The function uses the result of the expression then, for question parameter: if it's a numeric value, start to check if the question ID exists in this survey, and get the primary question. If it's a sub-question and a string, search the primary question title in this survey.") }}</p>
    <p>{{ gT("For the answer code the expression result is used directly.") }}</p>
    <p>{{ gT("Some examples:") }}</p>
    <ul>
        <li>{{ sprintf(gT("Get the answer text of option A1 of current single choice question: %s"), '<code>getAnswerOptionText(self.qid,"A1")</code>') }}</li>
        <li>{{ sprintf(gT("Get the answer text of option A1 of array question with code: %s"), '<code>getAnswerOptionText("Qcode","A1")</code>') }}</li>
        <li>{{ sprintf(gT("Get the answer text of same option choice done in a previous question with code previous to current single choice question: %s"), '<code>getAnswerOptionText(self.qid,prev.NAOK)</code>') }}</li>
    </ul>
</div>
