{#
/**
 * List radio Html : item 'other' row
 *
 * @var $name
 * @var $answer_other
 * @var $sDisplayStyle
 * @var $sDisable
 * @var $myfname
 * @var $othertext
 * @var $otherTextRight
 * @var $otherItemExtraClass
 * @var $checkedState
 * @var $kpclass
 * @var $sValue
 * @var $checkconditionFunction
 * @var $otherInputSize
 * @var $otherMaxLength
 */
#}

<!-- answer_row_other -->
<li id='javatbd{{ myfname }}' class='row answer-item radio-text-item radio-item d-flex {{ otherItemExtraClass }}' role='group' {{ sDisplayStyle }} >
        <!-- Checkbox + label -->
        <div class="othertext-label-checkox-container  col-auto">
            <input
            type="radio"
            value="-oth-"
            name="{{ name }}"
            id="SOTH{{ name }}"
            {{ checkedState }}
            />

            <label for="SOTH{{ name }}" class="control-label label-radio" id="label-id-{{ name }}">{{ processString(othertext) }}</label>
        </div>

        <!-- comment -->
        <div class="text-item other-text-item col">
            <input
            type="text"
            class="form-control {{ kpclass }} input-sm"
            id="answer{{ name }}othertext"
            name="{{ name }}other"
            title="{{ flatString(processString(othertext,1),1) }}"
            {{ answer_other }}
            aria-labelledby="label-id-{{ name }}"
            {% if numbers_only %} data-number="1" {% endif %}
            {% if otherInputSize %} size="{{ otherInputSize }}" {% endif %}
            {% if otherMaxLength %} maxlength="{{ otherMaxLength }}" {% endif %}
            />
        </div>

        {% if othertextRight is defined and othertextRight|length >0 %}
            <div class="othertext-right-label col-auto">
                {{ processString(othertextRight) }}
            </div>
        {% endif %}
    <script>
        $("#answer{{ name }}othertext").on("keyup",function(){
            if($.trim($(this).val())!=''){ $('#SOTH{{ name }}').click(); };
        });
    </script>
</li>
<!-- end of answer_row_other -->
