{#
/**
* Multiple short texts question, item input text Html

* @var $question
* @var $alert
* @var $extraclass
* @var $sDisplayStyle
* @var $myfname
* @var $tiwidth
* @var $prefix
* @var $suffix
* @var $kpclass
* @var $maxlength
* @var $dispVal
* @var $checkconditionFunction
* @var $placeholder
*/
#}

<!--answer_row_inputtext -->
<li id="javatbd{{ myfname }}" class="row question-item answer-item text-item mb-3{% if alert %} ls-error-mandatory has-error{% endif %}{{ extraclass }}" {{ sDisplayStyle }} >
    <label class="control-label col-12 col-md-{{ sLabelWidth }}{% if sLabelWidth == 0 %} d-none{% endif %}" for="answer{{ myfname }}">
        {{ processString(question) }}
    </label>
    <div class="col-12 col-md-{{ sInputContainerWidth }}">

        {% if prefix != '' or suffix != '' %}
        <div class="ls-input-group">
            {% endif %}
            {% if prefix != '' %}
                <div class="ls-input-group-extra prefix-text prefix">
                    {{ processString(prefix) }}
                </div>
            {% endif %}
            <input
                    class="form-control {{ kpclass }}"
                    type="text"
                    name="{{ myfname }}"
                    id="answer{{ myfname }}"
                    value="{{ dispVal }}"
                    placeholder="{{ flatString(processString(placeholder,1),1) }}"
                    {% if inputsize %} size="{{ inputsize }}" {% endif %}
                    {% if maxlength %} maxlength="{{ maxlength }}" {% endif %}
                    {% if numbersonly %} data-number="{{ numbersonly }}" {% endif %}
            />
            {% if suffix != '' %}
                <div class="ls-input-group-extra suffix-text suffix">
                    {{ processString(suffix) }}
                </div>
            {% endif %}
            {% if prefix != '' or suffix != '' %}
        </div>
        {% endif %}
    </div>
</li>
<!-- end of answer_row_inputtext -->
