{#

/**
 * Header row for dual-scale array
 * @var $labelans0 - Labels for answers
 * @var $labelans1
 * @var $shownoanswer
 * @var $rightexists
 */
#}
<td></td>
{% if leftheader != '' or rightheader !='' %}
    <td class="d-none"></td>
{% endif %}
{% for code, ld in labelans0 %}
    <th class='answer-text'{% if not repeat %} id="answer{{ basename }}_0-{{ code }}" role="columnheader" {% endif %}>{{ processString(ld) }}</th>
{% endfor %}
{% if labelans1|length > 0 %}
    <td class="header_separator">
        {% if shownoanswer %}
            <div class="ls-js-hidden">{{ gT('No answer') }}</div>
        {% endif %}</td>  <!-- Separator : and No answer for accessibility for first colgroup -->
    {% if leftheader != '' or rightheader !='' %}
        <td class="d-none"></td>
    {% endif %}
    {% for code, ld in labelans1 %}
        <th class='answer-text'{% if not repeat %} id="answer{{ basename }}_1-{{ code }}" role="columnheader" {% endif %}>{{ processString(ld) }}</th>
    {% endfor %}
{% endif %}
{% if shownoanswer or rightexists %}
    <td class="header_separator rigth_separator"></td>
{% endif %}
{% if shownoanswer %}
    <th class="answer-text noanswer-text"{% if not repeat %} id="answer{{ basename }}-" role="columnheader" {% endif %}>{{ gT('No answer') }}</th>
{% endif %}
