{#
/**
 * List radio Html : item 'other' row
 *
 * @var $name
 * @var $answer_other
 * @var $sDisplayStyle
 * @var $sDisable
 * @var $myfname
 * @var $othertext
 * @var $checkedState
 * @var $kpclass
 * @var $sValue
 * @var $checkconditionFunction
 */
#}

<!-- answer_row_other -->
<li id='javatbd{{ myfname }}' class='answer-item radio-text-item' role='group' {{ sDisplayStyle }} >
    <div class="row row-cols-lg-auto g-1 align-items-center mb-3">
        <!-- Checkbox + label -->
        <div class="othertext-label-checkox-container radio-item">
            <input
            type="radio"
            value="-oth-"
            name="{{ name }}"
            id="SOTH{{ name }}"
            {{ checkedState }}
            />
    
            <label for="SOTH{{ name }}" class="control-label label-radio" id="label-id-{{ name }}">{{ processString(othertext) }}</label>
        </div>
    
        <!-- comment -->
        <div class="text-item other-text-item">
            <input
            type="text"
            class="form-control {{ kpclass }} input-sm"
            id="answer{{ name }}othertext"
            name="{{ name }}_Cother"
            title="{{ flatString(processString(othertext,1),1) }}"
            {{ answer_other }}
            aria-labelledby="label-id-{{ name }}"
            {% if numbers_only %} data-number="1" {% endif %}
            />
        </div>
    </div>
    <script>
        $("#answer{{ name }}othertext").on("keyup",function(){
            if($.trim($(this).val())!=''){ $('#SOTH{{ name }}').click(); };
        });
    </script>
</li>
<!-- end of answer_row_other -->
