{# 
/**
 * Multiple Choice question item Html
 *
 * @var $sRows      : the rows, generated with the views rows/answer_row*.php
 *
 * @var $name
 * @var $anscount
 */
 #}
<!-- Multiple Choice -->

<!-- answer -->

<input type="hidden" name="MULTI{{name}}" value="{{anscount}}" />
<div class="{{coreClass}} row" role="group" aria-labelledby="ls-question-text-{{basename}}">
    <ul class="list-unstyled col-xs-12 col-sm-{{iColumnWidth}}">
        {% for aRow in aRows %}
            {% if loop.index0 is divisible by(iMaxRowsByColumn) and loop.index0 != 0  %}
                </ul>
                <ul class="list-unstyled col-xs-12 col-sm-{{iColumnWidth}}">
            {% endif %}

            {% set rowTemplate = aRow.other ? './survey/questions/answer/multiplechoice/rows/answer_row_other.twig' : './survey/questions/answer/multiplechoice/rows/answer_row.twig' %}
            {% include rowTemplate with aRow only %}

        {% endfor %}
    </ul>
<!-- end of answer -->
</div>
