{#
/**
 * Multiple Choice Html Html
 *
 * @var $name
 * @var $value
 */
#}

<!-- List Radio -->
<!-- answer -->
{{ sTimer }}
<div class="container-fluid">
    <div class="row {{coreClass}} " data-bs-toggle="buttons" role="radiogroup" aria-labelledby="ls-question-text-{{name }}">
    {# rows/answer_row.php #}
    {{ sRows }}

    {# Value for expression manager javascript (use id) ; no need to submit #}
    {{ C.Html.hiddenField("java"~name,value,({
        'id' : "java"~name,
        'disabled' : true,
    }))
    }}
    </div>
    {# Must add it only of other is set ! #}
    <div class="row row-cols-lg-auto align-items-center mb-3 ls-js-hidden answer-item" id="div{{ name }}other">
        <label for="answer{{ name }}othertext" class="col-form-label" id="label-id-{{ name }}">{{ othertext }}</label>
        <div class="col-12">
            <input
            type="text"
            class="form-control {{ kpclass }} input-sm"
            id="answer{{ name }}othertext"
            name="{{ name }}other"
            >
        </div>
    </div>
</div>
<script>
    if (typeof doBootstrapRadioOther === "undefined") {
        window.addEventListener('load', function() {
            setTimeout(doBootstrapRadioOther, 1000);
        });
    } else {
        doBootstrapRadioOther();
    }
</script>

<!-- end of answer -->
