{#
/**
 * List Radio Html
 *
 * @var $name
 * @var $value
 * @var $othertext
 * @var $otherTextRight
 * @var $otherInputSize
 * @var $otherMaxLength
 */
#}

<!-- List Radio -->
<!-- answer -->
{{ sTimer }}
<div class="container-fluid">
    <div class="row {{coreClass}} " data-bs-toggle="buttons" role="radiogroup" aria-labelledby="ls-question-text-{{name }}">
    {# rows/answer_row.php #}
    {{ sRows }}

    {# Value for expression manager javascript (use id) ; no need to submit #}
    {{ C.Html.hiddenField("java"~name,value,({
        'id' : "java"~name,
        'disabled' : true,
    }))
    }}
    </div>
    {# Must add it only if other is set ! #}
    <div class="row align-items-center mb-3 ls-js-hidden answer-item" id="div{{ name }}other">
        <div class="col-auto">
            <label for="answer{{ name }}othertext" class="col-form-label" id="label-id-{{ name }}">{{ processString(othertext) }}</label>
        </div>
        <div class="col-auto">
            <input
                type="text"
                class="form-control input-sm"
                id="answer{{ name }}othertext"
                name="{{ name }}_Cother"
                aria-labelledby="label-id-{{ name }}"
                {% if otherInputSize %} size="{{ otherInputSize }}" {% endif %}
                {% if otherMaxLength %} maxlength="{{ otherMaxLength }}" {% endif %}
            >
        </div>
        {% if otherTextRight is defined and otherTextRight|length > 0 %}
            <div class="othertext-suffix-label button-suffix col-auto">
                {{ processString(otherTextRight) }}
            </div>
        {% endif %}
    </div>
</div>
<script>doBootstrapRadioOther();</script>

<!-- end of answer -->
