{#
/**
 * Multiple Choice Html Html
 *
 * @var $name
 * @var $value
 */
#}

<!-- List Radio -->

<!-- answer -->
{{ sTimer }}

<div class="row {{coreClass}} {{ extraclass }}" role="group">
    <div class="list-unstyled form-inline btn-toolbar col-sm-12 " data-toggle="buttons" role="radiogroup" aria-labelledby="ls-question-text-{{name }}">

    {# rows/answer_row.php #}
    {{ sRows }}

    {# Value for expression manager javascript (use id) ; no need to submit #}
    {{ C.Html.hiddenField("java"~name,value,({
        'id' : "java"~name,
        'disabled' : true,
    }))
    }}
    </div>
    {# Must add it only of other is set ! #}
    <div class="col-sm-12 hide" id="{{ name }}-div">
        <label for="answer{{ name }}othertext" class="control-label" id="label-id-{{ name }}">{{ othertext }}</label>
        <!-- comment -->
        {{ gT('Other:') }}
        <input
        type="text"
        class="form-control {{ kpclass }} input-sm col-sm-4"
        id="answer{{ name }}othertext"
        name="{{ name }}other"
        title="{{ gT('Other') }}"
        onkeyup="checkconditions(this.value, this.name, this.type);"
        >
        </label>
    </div>
</div>

<!-- end of answer -->
