{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.



    (¯`·._.·(¯`·._.· Default Template Errors Layout  ·._.·´¯)·._.·´¯)

    This layout is used to render errors that block survey rendering.
    Eg: wrong survey id, empty group in preview group, etc.

    It has no obligation to be the same layout than layout.twig, it can be completly different

#}

{% set aError     = aSurveyInfo.aError    %}

<!DOCTYPE html>
<html lang="{{ aSurveyInfo.languagecode }}" dir="{{ aSurveyInfo.dir }}" class="no-js {{ aSurveyInfo.languagecode }} dir-{{ aSurveyInfo.dir }} ">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            ERROR! {{ aSurveyInfo.surveyls_title }}
        </title>

        {# NOTE: YES, it's very bad to do it here. It a first cycle. I'll see what to do once I'll done all those kind of error page#}
        <style type="text/css">
        html{
          }
          body{
              margin: 0;
              padding: 0;
              background: #e7ecf0;
              font-family: Arial, Helvetica, sans-serif;
          }
          *{
              margin: 0;
              padding: 0;
          }
          p{
              font-size: 12px;
              color: #373737;
              font-family: Arial, Helvetica, sans-serif;
              line-height: 18px;
          }
          p a{
              color: #218bdc;
              font-size: 12px;
              text-decoration: none;
          }
          a{
              outline: none;
          }
          .f-left{
              float:left;
          }
          .f-right{
              float:right;
          }
          .clear{
              clear: both;
              overflow: hidden;
          }
          #block_error{
              width: 845px;
              height: 384px;
              border: 1px solid #cccccc;
              margin: 72px auto 0;
              -moz-border-radius: 4px;
              -webkit-border-radius: 4px;
              border-radius: 4px;
              background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
          }
          #block_error div{
              padding: 100px 40px 0 186px;
          }
          #block_error div h2{
              color: #218bdc;
              font-size: 24px;
              display: block;
              padding: 0 0 14px 0;
              border-bottom: 1px solid #cccccc;
              margin-bottom: 12px;
              font-weight: normal;
          }
        </style>

        <meta name="generator" content="LimeSurvey http://www.limesurvey.org" />
        <link rel="shortcut icon" href="{{ templateurl }}favicon.ico" />
    </head>

    <body  class="default lang-{{surveylanguage}} {{surveyformat}}" marginwidth="0" marginheight="0">
        <div id="block_error">
            <div>
                <h2>{{ aError.title }}</h2>
                <p>
                    {{ aError.message }}
                </p>
                <p>
                    {{"For further information please contact"| t }} {{ aSurveyInfo.adminname }}:<br>
                    <a href='mailto:{{ aSurveyInfo.adminemail }}'>{{ aSurveyInfo.adminemail }}</a>
                </p>
            </div>
        </div>
    </body>
</html>
