{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.
#}
<!DOCTYPE html>
<html lang="{{ aSurveyInfo.languagecode }}" dir="{{ aSurveyInfo.dir }}" class="no-js {{ aSurveyInfo.languagecode }} dir-{{ aSurveyInfo.dir }} ">

    {# Headers, metadatas, etc #}
    {{ include('./subviews/head.twig') }}

    <body class="default lang-{{surveylanguage}} {{surveyformat}}">

        {# Bootstrap Navigation Bar: the top menu #}
        {{ include('./subviews/nav_bar.twig') }}

        {# Top Container: in this template, it contains only  #}
        {{ include('./subviews/progess_bar.twig') }}

        <!-- Outer Frame Container -->
        <div class="outerframe container" id="outerframeContainer">

            <!-- Main Row -->
            <div id="main-row">
                <!-- Main Col -->
                <div class="col-centered" id="main-col">

                    {# include the form opening tag #}
                    {{ include('./subviews/start_form.twig') }} <!-- main form -->

                        {# This will display the script and the hidden inputs needed for Expression Manager #}
                        {{ aSurveyInfo.EM.ScriptsAndHiddenInputs  }}


                        {# completed#}
                        <div class="completed-wrapper">

                            {# Plugins HTML#}
                            {{ aSurveyInfo.aQuotas.sPluginBlocks }}

                            <div class='completed-text'>
                                <div class='quotamessage limesurveycore'>
                                    {{ aSurveyInfo.aQuotas.sMessage  }}
                                </div>

                                {# Navigator for quota page is pretty different from the classical navigator.  #}
                                {% if (aSurveyInfo.aQuotas.bShowNavigator) %}
                                        {#
                                            array of attributes of the form tag.
                                            To add a new attribute, just add an entry:
                                            'attribute' : 'value',
                                        #}
                                        {% set htmlOptions = {
                                                'id'          : 'limesurvey',
                                                'name'        : 'limesurvey',
                                                'autocomplete': 'off',
                                                'class'       : 'survey-form-container QuotaMessage',
                                            }
                                        %}


                                        <!-- Quota form for navigator -->
                                        {{
                                            C.Html.form(
                                                ( aSurveyInfo.surveyUrl ),
                                                'post',
                                                (htmlOptions)
                                                )
                                        }}

                                            <div class="navigator row" id="navigator-container">
                                                <div class="col-xs-6 text-left">
                                                    <!-- Previous button container -->
                                                    <div class="col-xs-6 text-left">
                                                        <!-- Button previous -->
                                                        <button type="submit" value="{{ aSurveyInfo.aQuotas.sQuotaStep }}" name="move" class=" ls-move-btn ls-move-previous-btn btn btn-lg btn-default" accesskey="p">
                                                            {{ "Previous" | t }}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <!-- Button submit -->
                                                    <button type="submit" value="confirmquota" name="move" class=" ls-move-btn ls-move-submit-btn btn btn-lg btn-primary" accesskey="l">
                                                        {{ "Submit" | t }}
                                                    </button>
                                                </div>
                                            </div>

                                            <input type="hidden" name="sid"      value="{{ aSurveyInfo.sid  }}" />
                                            <input type="hidden" name="token"    value="{{ aSurveyInfo.aQuotas.sClientToken }}" />
                                            <input type="hidden" name="thisstep" value="{{ aSurveyInfo.aQuotas.sQuotaStep }}" />

                                            {% for field,post in aSurveyInfo.aQuotas.aPostedQuotaFields %}
                                                <input type="hidden" name="{{ field }}"   value="{{ post }}" />
                                            {% endfor %}

                                        </form>
                                {% endif %}

                                {% if(aSurveyInfo.aQuotas.sUrl != '') %}
                                    <div class="url-wrapper url-wrapper-survey-quotaurl">
                                        <a href="{{ aSurveyInfo.aQuotas.sUrl }}" class="ls-endurl ls-quotaurl">
                                            {{ aSurveyInfo.aQuotas.sUrlDescription }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </form> <!-- main form -->
                </div> <!-- main col -->
            </div> <!-- main row -->
        </div> <!-- outer frame container -->

        {# Bootstrap alert modal #}
        {{ include('./subviews/bootstrap_alert_modal.twig') }}

        <!-- some template.js function launched before ready -->
        <script type="text/javascript">
        /*<![CDATA[*/
            sliderSuffixClone();
            fixBodyPadding();
            hideQuestionWithRelevanceSubQuestion();
            hideEmptyPart();
        /*]]>*/
        </script>
    </body>
</html>
<!-- end of startpage.twig -->
