{% set aNavigator = aSurveyInfo.aNavigator %}
<!-- PRESENT THE NAVIGATOR -->
<div class="navigator row" id="navigator-container">
    <div class="col-xs-6 text-left">
        {% if aNavigator.aMovePrev.show %}
            <button type="submit" value="moveprev" name="move" class=" {{ aNavigator.disabled }} ls-move-btn ls-move-previous-btn btn btn-lg btn-default" accesskey="p">
                {{ "Previous" | t }}
            </button>
        {% endif %}
    </div>
    <div class="col-xs-6 text-right">
        {% if aNavigator.aMoveNext.show %}
            {% if aNavigator.aMoveNext.value == "movesubmit" %}
                <button type="submit" value="movesubmit" name="move" class=" {{ aNavigator.disabled }} ls-move-btn ls-move-submit-btn btn btn-lg btn-primary" accesskey="l">
                    {{ "Submit" | t }}
                </button>
            {% else %}
                <button type="submit" value="movenext" name="move" class=" {{ aNavigator.disabled }} ls-move-next-btn ls-move-submit-btn btn btn-lg btn-primary" accesskey="n">
                    {{ "Next" | t }}
                </button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="navigator row">
    <div class="col-sm-6 save-clearall-wrapper">
        {% if aNavigator.load.show == "Y" %}
            <button type="submit" value="loadall" name="loadall" class=" {{ aNavigator.disabled }} ls-saveaction ls-loadall btn btn-default" accesskey="L">
                {{ "Load unfinished survey" | t }}
            </button>
        {% endif %}

        {SAVE}
        {CLEARALL}
    </div>
    <div class="col-sm-6 index-wrapper">
        <!-- Can be elsewhere if needed : inside form is better but not necessary -->
        {QUESTION_INDEX}
    </div>
</div>
