<!-- Question -->
{#
{{ dump(aSurveyInfo.aQuestion) }}
#}

<div id="question{{ aSurveyInfo.aQuestion.qid }}" class=" {{ getAllQuestionClasses( aSurveyInfo.aQuestion.qid ) }} {{ aSurveyInfo.aQuestion.0.input_error_class }} question-container row">

    <!-- Question text -->
    <div class="question-title-container bg-primary col-xs-12">

      {{ include('./subviews/question/question_mandatory.twig') }}

      <span class='text-muted question-number'>{QUESTION_NUMBER}</span>
      <span class='text-muted question-code'>{QUESTION_CODE}</span>
      <div class="question-text">{QUESTION_TEXT}</div>
    </div>

    <!-- LimeSurvey valid message and help -->
    <div class="question-valid-container bg-primary text-info col-xs-12">
      {QUESTION_VALID_MESSAGE}
      {QUESTION_MAN_MESSAGE}
      {QUESTION_FILE_VALID_MESSAGE}
    </div>

    <!-- Answer -->
    <div class="answer-container  col-xs-12">
        {ANSWER}
    </div>

    <!-- Survey question help -->
    <div class="question-help-container text-info col-xs-12">{QUESTIONHELP}</div>
</div>
