{#
{{ dump(aSurveyInfo.aQuestion) }}
#}


{% set aShow     = aSurveyInfo.aShow     %}
{% set aQuestion = aSurveyInfo.aQuestion %}

<!-- Question -->
<div id="question{{ aQuestion.qid }}" class=" {{ getAllQuestionClasses( aQuestion.qid ) }} {{ aQuestion.input_error_class }} question-container row">

    <!-- Question text -->
    <div class="question-title-container bg-primary col-xs-12">

        {% if aQuestion.mandatory != '' %}
            <!-- Add a visual information + just Mandatory string for aria : can be improved -->
            <div class="asterisk pull-left">
                <small class="text-danger fa fa-asterisk small" aria-hidden='true'></small>
                <span class="sr-only text-danger"> {{ "(This question is mandatory)" | t }} </span>
            </div>
        {% endif %}

        {% if (aShow.question_number) %}
            <span class='text-muted question-number'>
                {{ aQuestion.number }}
            </span>
        {% endif %}

        {% if (aShow.question_code) %}
            <span class='text-muted question-code'>
                {{ aQuestion.code }}
            </span>
        {% endif %}

        <div class="question-text">
            <div id="ls-question-text-{{ aQuestion.SGQ }}" class="ls-label-question">
                {{ aQuestion.text }}
            </div>
        </div>
    </div>

    <!-- LimeSurvey valid message and help -->
    <div class="question-valid-container bg-primary text-info col-xs-12">
        {{ aQuestion.valid_message      | raw }}
        {{ aQuestion.man_message        | raw }}
        {{ aQuestion.file_valid_message | raw }}
    </div>

    <!-- Answer -->
    <div class="answer-container  col-xs-12">
        {# NOTE: If you want to customize the question rendering, use a question template #}
        {{ aQuestion.answer |  raw }}
    </div>

    <!-- Survey question help -->
    <div class="question-help-container text-info col-xs-12">
        {% if aQuestion.help.show %}
            <div class="ls-questionhelp">
                {{ aQuestion.help.txt | raw }}
            </div>
        {% endif %}
    </div>
</div>
