{#
    !!!!NOTE!!!!
    This is a first cycle of dev.
    Soon, we should have a single layout.twig file with subviews.
#}

{#
    If you want to see what is availabe in aSurveyInfo, turn debug mode on and uncomment the following line:
    {{ dump(aSurveyInfo) }}
#}

<!-- startpage.twig -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{aSurveyInfo.surveyls_title}}</title>
<meta name="generator" content="LimeSurvey http://www.limesurvey.org" />
<link rel="shortcut icon" href="{{templateurl}}favicon.ico" />

{# See config.xml to add your own CSS and JS files #}
{{ include('./subviews/google_analytics.twig') }}
</head>

<body class="default lang-{{surveylanguage}} {{surveyformat}}">

    {{ include('./subviews/navbar.twig') }}

    <!-- Top container -->
    <div class="top-container">
      <div class="container top-content">
          {{ include('./subviews/percent_complete.twig') }}
      </div> <!-- must hide it without javascript -->
    </div>

    <div class="outerframe container" id="outerframeContainer">
      <div id="main-row">
          {{ include('./subviews/flash_message.twig') }}

        <div class="col-centered" id="main-col">

            {# include the form tag  #}
            {{ include('./subviews/start_form.twig') }}

                <!-- No JavaScript alert -->
                <div class='alert alert-danger ls-js-hidden warningjs' data-type='checkjavascript'>
                    {{
                        "Caution: JavaScript execution is disabled in your browser or for this website. You may not be able to answer all questions in this survey. Please, verify your browser parameters."
                        | t
                    }}
                </div>

                {# If survey mode is "All in One", it will add the welcome/privacy messages if needed #}
                {{ include('./subviews/allinone_mode_welcome_privacy.twig') }}

                {# PRESENT THE QUESTION GROUPS #}
                {# NOTE: this file will also render the questions via question.twig #}
                {% for  aGroup in aSurveyInfo.aGroups %}
                     {{ include('./group.twig') }}
                {% endfor %}

                {# Presents the navigator #}
                {% if aSurveyInfo.aNavigator.show %}
                    {{ include('./navigator.twig') }}
                {% endif %}

                {# Data shown when LEM debug timing mode is ON #}
                {{ include('./subviews/LEMDebug.twig') }}

<!-- end of startpage.twig -->
