{#
    !!!!NOTE!!!!
    This is a first cycle of dev.
    Soon, we should have a single layout.twig file with subviews.
#}

{#
    If you want to see what is availabe in aSurveyInfo, turn debug mode on and uncomment the following line:
    {{ dump(aSurveyInfo) }}
#}

<!DOCTYPE html>
<html lang="{{ aSurveyInfo.languagecode }}" dir="{{ aSurveyInfo.dir }}" class="no-js {{ aSurveyInfo.languagecode }} dir-{{ aSurveyInfo.dir }} ">

    {{ include('./subviews/head.twig') }}

<body class="default lang-{{surveylanguage}} {{surveyformat}}">

    {# Bootstrap Navigation Bar #}
    {{ include('./subviews/nav_bar.twig') }}

    {# Top Container #}
    {{ include('./subviews/top_container.twig') }}


    <div class="outerframe container" id="outerframeContainer">
        <div id="main-row">
            {{ include('./subviews/flash_message.twig') }}

            <div class="col-centered" id="main-col">

                {# include the form tag  #}
                {{ include('./subviews/start_form.twig') }}

                    {{ include('./subviews/no_js_alert.twig') }}

                    {# If survey mode is "All in One", it will add the welcome/privacy messages if needed #}
                    {{ include('./subviews/allinone_mode_welcome_privacy.twig') }}

                    {# PRESENT THE QUESTION GROUPS #}
                    {# NOTE: this file will also render the questions via question.twig #}
                    {% for  aGroup in aSurveyInfo.aGroups %}
                        {{ include('./group.twig') }}
                    {% endfor %}

                    {# Presents the navigator #}
                    {% if aSurveyInfo.aNavigator.show %}
                        {{ include('./navigator.twig') }}
                    {% endif %}

                    {# Data shown when LEM debug timing mode is ON #}
                    {{ include('./subviews/LEMDebug.twig') }}

                </form> <!-- main form -->
            </div> <!-- main col -->
        </div> <!-- main row -->
    </div> <!-- outer frame container -->


    <!-- Bootstrap Modal Alert -->
    <div id="bootstrap-alert-box-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="min-height:40px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-title h4">&nbsp;</div>
                </div>
                <div class="modal-body"><p></p></div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">{{ "close" | t }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- some template.js function launched before ready -->
    <script type="text/javascript">
    /*<![CDATA[*/
        sliderSuffixClone();
        fixBodyPadding();
        hideQuestionWithRelevanceSubQuestion();
        hideEmptyPart();
    /*]]>*/
    </script>
</body>
</html>

<!-- end of startpage.twig -->
