{#
    !!!!NOTE!!!!
    This is a first cycle of dev.
    Soon, we should have a single layout.twig file with subviews.
#}

{#
    If you want to see what is availabe in aSurveyInfo, turn debug mode on and uncomment the following line: {{ dump(aSurveyInfo) }}
#}

<!-- startpage.twig -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{aSurveyInfo.surveyls_title}}</title>
<meta name="generator" content="LimeSurvey http://www.limesurvey.org" />
<link rel="shortcut icon" href="{{templateurl}}favicon.ico" />

{# See config.xml to add your own CSS and JS files #}
{{ include('./subviews/google_analytics.twig') }}
</head>

<body class="default lang-{{surveylanguage}} {{surveyformat}}">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" >{{ aSurveyInfo.name }}</div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-action-link">
                {{ include('./subviews/save_links.twig') }}
                {{ include('./subviews/clearall_links.twig') }}
                {{ include('./subviews/question_index.twig') }}
                {QUESTION_INDEX_MENU} {# Can't remove from now because of the helper solutions... w #}
            </ul>
        </div>
    </div>

    <!-- Top container -->
    <div class="top-container">
      <div class="container top-content">{LANGUAGECHANGER}{PERCENTCOMPLETE}</div> <!-- must hide it without javascript -->
    </div>

    <div class="outerframe container" id="outerframeContainer">
      <div id="main-row">
          {FLASHMESSAGE}

        <div class="col-centered" id="main-col">

            {{ include('./subviews/start_form.twig') }}
<!-- end of startpage.twig -->
