{#
/**
 * Gender question, button item Html
 *
 * @var $name
 * @var $checkconditionFunction
 * @var $fChecked
 * @var $mChecked
 * @var $naChecked
 * @var $value
 */
#}

<!--Gender question, buttons display -->
<!-- answer -->
<div class="ls-answers answers-list gender-button btn-group btn-group-justified" role="radiogroup" aria-labelledby="ls-question-text-{{ basename }}">
    <!-- Female -->
    {# <li id="javatbd{{ name }}F" class="button-item btn btn-primary {% if fChecked!='' %} active {% endif %}">
        <input
            class="radio"
            type="radio"
            name="{{ name }}"
            id="answer{{ name }}F"
            value="F"
            {{ fChecked }}
        />
        <label for="answer{{ name }}F">
            <span class="fa fa-venus ls-icon" aria-hidden="true"></span> {{ gT('Female') }}
        </label>
    </li> #}

    <input type="radio" class="btn-check ls-button-radio" name="{{ name }}" id="answer{{ name }}F" value="F" {{ fChecked }}>
        <label class="btn btn-primary mb-3 answer-item ls-button-label" id="javatbd{{ name }}F" for="answer{{ name }}F">
        <span class="fa fa-venus ls-icon" aria-hidden="true"></span> {{ gT('Female') }}
    </label>

    <!-- Male -->
    {# <li id="javatbd{{ name }}M" class="button-item btn btn-primary  {% if mChecked!='' %} active {% endif %} ">
        <input
            class="radio"
            type="radio"
            name="{{ name }}"
            id="answer{{ name }}M"
            value="M"
            {{ mChecked }}
        />
        <label for="answer{{ name }}M">
            <span class="fa fa-mars ls-icon" aria-hidden="true"></span> {{ gT('Male') }}
        </label>
    </li> #}

    <input type="radio" class="btn-check ls-button-radio" name="{{ name }}" id="answer{{ name }}M" value="M" {{ fChecked }}>
        <label class="btn btn-primary mb-3 answer-item ls-button-label" id="javatbd{{ name }}M" for="answer{{ name }}M">
        <span class="fa fa-mars ls-icon" aria-hidden="true"></span> {{ gT('Male') }}
    </label>

<!-- No answer -->
    {% if noAnswer %}
    {# <li id="javatbd{{ name }}" class="button-item btn btn-primary  {% if naChecked!='' %} active {% endif %}">
        <input
            class="radio"
            type="radio"
            name="{{ name }}"
            id="answer{{ name }}"
            value=""
            {{ naChecked }}
        />
        <label for="answer{{ name }}">
            <span class="fa fa-genderless ls-icon" aria-hidden="true"></span> {{ gT('No answer') }}
        </label>
    </li> #}
        <input type="radio" class="btn-check ls-button-radio" name="{{ name }}" id="answer{{ name }}" value="" {{ naChecked }}>
        <label class="btn btn-primary mb-3 answer-item ls-button-label" id="javatbd{{ name }}" for="answer{{ name }}">
            <span class="fa fa-circle-thin ls-icon" aria-hidden="true"></span> {{ gT('No answer') }}
        </label>

    {% endif %}
</div>
{# Value for expression manager javascript (use id) ; no need to submit #}

{{ C.Html.hiddenField('java' ~ name, value, ({'id' : 'java' ~ name,'disabled' : 'true'})) }}

<!-- end of answer -->



