{#
/**
 * Multiple numerci : dynamic row (remaining + total)
 * @var $id
 * @var $sumRemainingEqn
 * @var $sumEqn
 * @var $sLabelWidth
 * @var $sInputContainerWidth
 * @var $prefix
 * @var $suffix
 */
#}
{% if sumRemainingEqn %}
    <li class="mb-3 ls-group-remaining ls-group-dynamic">
        <div class="control-label col-12 col-md-{{sLabelWidth}}">
            {{ gT('Remaining') }}:
        </div>
        <div class="ls-input-group col-12 col-md-{{sInputContainerWidth}} {% if sLabelWidth == 0 %} d-none{% endif %}">
            {% if prefix %}
                <div class="ls-input-group-extra prefix-text prefix">
                    {{ processString(prefix) }}
                </div>
            {% endif %}
            <div id="remainingvalue_{{id}}" class="form-control-static numeric dynamic-remaining" data-number="1">
            <!-- alternative class : form-control : display like an input:text -->
                {{ sumRemainingEqn }}
            </div>
            {% if suffix  %}
                <div class="ls-input-group-extra suffix-text suffix">
                    {{ processString(suffix) }}
                </div>
            {% endif %}
        </div>
    </li>
{% endif %}

{% if sumEqn %}
    <li class="ls-group-total-separator-row row d-none">
        <div class="col-12 col-md-{{sLabelWidth}}"></div>
        <div class="ls-group-total-separator col-12 col-md-{{sInputContainerWidth}}">
            <hr>
        </div>
    </li>
    <li class="mb-3 ls-group-total ls-group-dynamic row">
        <div class="control-label col-12 col-md-{{sLabelWidth}}">
            {{ gT('Total:') }}
        </div>
       <div class="ls-input-group col-12 col-md-{{sInputContainerWidth}}">
            {% if prefix %}
                <div class="ls-input-group-extra prefix-text prefix d-none">
                    {{ processString(prefix) }}
                </div>
            {% endif %}
            <div id="totalvalue_{{id}}" class="form-control-static numeric dynamic-total" data-number="1">
                {{ sumEqn }}
            </div>
            {% if suffix  %}
                <div class="ls-input-group-extra suffix-text suffix d-none">
                    {{ processString(suffix) }}
                </div>
            {% endif %}
        </div>
    </li>
{% endif %}
