{#
/**
 * Multiple numerci : dynamic row (remaining + total)
 * @var $id
 * @var $sumRemainingEqn
 * @var $sumEqn
 * @var $sLabelWidth
 * @var $sInputContainerWidth
 * @var $prefix
 * @var $suffix
 */
#}
{% if sumRemainingEqn %}
    <li class="form-group ls-group-remaining ls-group-dynamic">
        <div class="control-label col-xs-12 col-sm-{{sLabelWidth}}">
            {{ gT('Remaining') }}:
        </div>
        <div class="ls-input-group col-xs-12 col-sm-{{sInputContainerWidth}} {% if sLabelWidth == 0 %} hidden{% endif %}">
            {% if prefix %}
                <div class="ls-input-group-extra prefix-text prefix">
                    {{prefix}}
                </div>
            {% endif %}
            <div id="remainingvalue_{{id}}" class="form-control-static numeric dynamic-remaining" data-number="1">
            <!-- alternative class : form-control : display like an input:text -->
                {{ '{'~sumRemainingEqn~'}' }}
            </div>
            {% if suffix  %}
                <div class="ls-input-group-extra suffix-text suffix">
                    {{ suffix }}
                </div>
            {% endif %}
        </div>
    </li>
{% endif %}

{% if sumEqn %}
    <li class="form-group ls-group-total ls-group-dynamic">
        <div class="control-label col-xs-12 col-sm-{{sLabelWidth}}">
            {{ gT('Total:') }}
        </div>
       <div class="ls-input-group col-xs-12 col-sm-{{sInputContainerWidth}}">
            {% if prefix %}
                <div class="ls-input-group-extra prefix-text prefix hidden">
                    {{prefix}}
                </div>
            {% endif %}
            <div id="totalvalue_{{id}}" class="form-control-static numeric dynamic-total" data-number="1">
                {{ '{'~sumEqn~'}' }}
            </div>
            {% if suffix  %}
                <div class="ls-input-group-extra suffix-text suffix hidden">
                    {{ suffix }}
                </div>
            {% endif %}
        </div>
    </li>
{% endif %}
