<div class="row ls-slider-answer-row">
    <div class="col-12 col-md-auto flex-grow-1">
        <div class="row">
            {% if slider_showminmax %}
                <div class='col-6 col-md-auto help-block slider-min-block'>
                    {{ slider_reversed == 'false' ? slider_min : slider_max }}
                </div>
            {% endif %}
            <div class="slider-container slider-{{ slider_orientation }} ls-input-group col-8 col-md-8 flex-grow-1" id="answer{{ myfname }}slid-container">
                {{ C.Html.textField( myfname ~ 'slid', dispVal ,{
                    'class': 'form-control answer-item numeric-item d-none',
                    'id' : "answer" ~ myfname ~ "slid",
                }) }}
                {{ C.Html.textField( myfname, dispVal ,{
                    'class': 'form-control answer-item numeric-item ls-js-hidden slider-untouched',
                    'id' : "answer" ~ myfname,
                    'aria-labelledby' : 'label-' ~ myfname
                }) }}
            </div>
            {% if slider_showminmax %}
                <div class='col-6 col-md-auto help-block slider-max-block'>
                    {{ slider_reversed == 'false' ? slider_max : slider_min }}
                </div>
            {% endif %}
            {% if sliderleft is not empty %}
                <div class='col-6 slider-left'>
                    {{ sliderleft }}
                </div>
            {% endif %}
            {% if sliderright is not empty %}
                <div class='col-6 slider-right text-end'>
                    {{ sliderright }}
                </div>
            {% endif %}
        </div>
    </div>
    {% if slider_reset %}
        <div class="col-12 col-md-auto ls-no-js-hidden ls-input-group-reset align-self-center">
            <button id="answer{{ myfname }}_resetslider" class='btn btn-outline-secondary btn-sm btn-slider-reset' title="{{ gT("Reset") }}" data-bs-toggle="tooltip">
                <i class='ri-arrow-go-back-line slider-reset-icon' aria-hidden='true'></i>
            </button>
        </div>
    {% endif %}
</div>