<div class="row">
    {% block question_name %}
    <div class="col-md-4">
        <b>{{question.question}} ({{question.qid}})</b><br/>
        <small>{{gT("Type:")}} ({{question.questionclass}})</small>
    </div>
    {% endblock  %}
    {% block question_answer %}
        {% set questionTemplate = './subviews/printanswers/question_types/template_' ~ question.questionclass ~ '.twig' %}
        {{ include(questionTemplate) }}
    {% endblock  %}
</div>
