{# 
/**
 * Multiple Choice question item Html
 *
 * @var $sRows      : the rows, generated with the views rows/answer_row*.php
 *
 * @var $name
 * @var $anscount
 * @var $othertext
 * @var $otherTextRight
 * @var $otherInputSize
 * @var $otherMaxLength
 */
 #}
<!-- Multiple Choice -->

<!-- answer -->

{% set button_size_class = (question_template_attribute.button_size == 'default' or question_template_attribute.button_size is empty) ? '' : "btn-"~question_template_attribute.button_size %}
{% set max_buttons_row = (question_template_attribute.max_buttons_row == 'default' or question_template_attribute.max_buttons_row is empty) ? 'col-md-2' : question_template_attribute.max_buttons_row %}
<input type="hidden" name="MULTI{{name}}" value="{{anscount}}" />
<div class="{{coreClass}} row {{ extraclass }}" >
    <div class="list-unstyled form-inline btn-toolbar col-12 " data-bs-toggle="buttons" role="group" aria-labelledby="ls-question-text-{{basename }}">
        {% for aRow in aRows %}
            {% set aRow = aRow|merge({'button_size_class': button_size_class})|merge({'max_buttons_row': max_buttons_row}) %}
            {% set rowTemplate = aRow.other ? './survey/questions/answer/multiplechoice/rows/answer_row_other.twig' : './survey/questions/answer/multiplechoice/rows/answer_row.twig' %}
            {% include rowTemplate with aRow %}
        {% endfor %}
    </div>
    <!-- other -->
    {% if other in aRows|keys %}
    <div class="d-none col-12 answer-item" id="{{ name }}other-div">
        <div class="row align-items-center mb-3">
            <div class="col-auto">
                <label for="answer{{ name }}other" class="col-form-label" id="label-id-{{ name }}">{{ processString(othertext) }}</label>
            </div>
            <div class="col-auto">
                <input
                    class="form-control input-sm bootstrap-other-input"
                    type="text"
                    id="answer{{ name }}other"
                    name="{{ name }}_Cother"
                    aria-labelledby="label-id-{{ name }}"
                    data-name="{{ name }}other"
                    {% if otherInputSize %} size="{{ otherInputSize }}" {% endif %}
                    {% if otherMaxLength %} maxlength="{{ otherMaxLength }}" {% endif %}
                />
            </div>
            {% if otherTextRight is defined and otherTextRight|length > 0 %}
            <div class="othertext-suffix-label button-suffix col-auto">
                {{ processString(otherTextRight) }}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<!-- end of answer -->
