 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-lg-8">
    {% for subquestionId, subquestion in question.subquestions %}
        <div class="row">
            <div class="col-lg-4 text-end">
            {% if subquestion.answervalue is same as("I") %}
                {{ gT("Increase") }} <i class="fa fa-plus"></i>
            {% elseif subquestion.answervalue is same as("S") %}
                {{ gT("Same") }} <i class="fa fa-circle"></i>
            {% elseif subquestion.answervalue is same as("D") %}
                {{ gT("Decrease") }} <i class="fa fa-minus"></i>
            {% else %}

            {% endif %}
            </div>
            <div class="col-lg-8 text-start">
                <b>{{subquestion.question}} ({{subquestion.qid}})</b>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
