{% extends "./subviews/printanswers/printanswers_question.twig" %}

{% block question_name %}
    <div class="col-xs-10">
        <p>({{question.qid}}) <br/>{{question.question}}</p>
        <small>{{ "Type:" | t }} ({{question.questionclass}})</small>
    </div>
{% endblock %}
{% block question_answer %}
    <div class="col-xs-2">
            {{question.answervalue}}
    </div>
{% endblock %}
