{#
/**
 * List with comment, list layout, Html
 *
 * @var $name
 * @var $id
 * @var $aid
 * @var $value
 * @var $check_ans
 * @var $checkconditionFunction
 * @var $labeltext
 * @var $li_classes
 */
#}
<!-- answer_row -->
<li id='javatbd{{ name }}_S{{ aid }}' class="{{ li_classes }}">
    <input
        type="radio"
        name="{{ name }}"
        id="{{ id }}"
        value="{{ value }}"
        {{ check_ans }}
        onclick="{{ checkconditionFunction }}"
    />
    <label for="{{ id }}" class="radio-label control-label">{{ processString(labeltext) }}</label>
</li>
<!-- end of answer_row -->
