
{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.

    (¯`·._.·(¯`·._.· Registration form._.·´¯)·._.·´¯)

    This is the registration form for participant registration on a survey.

#}
{{ C.Html.form(aSurveyInfo.sRegisterFormUrl,'post',({'id' : 'limesurvey', 'role' : 'form', 'class' : 'form'})) }}

{{aSurveyInfo.registerform.hiddeninputs}}

<div>
    {# Participants first name #}
    <div>
        <label for='register_firstname'>{{ gT("First name:") }}</label>
        <div>
            {{ C.Html.textField('register_firstname', aSurveyInfo.sFirstName, ({'id' : 'register_firstname','class' : 'form-control'})) }}
        </div>
    </div>

    {# Participants last name #}
    <div>
        <label {{ aSurveyInfo.attr.registerformcolrowblabel }}>{{ gT("Last name:") }}</label>
        <div>
            {{ C.Html.textField('register_lastname', aSurveyInfo.sLastName, ({'id' : 'register_lastname', 'class' : 'form-control'})) }}
        </div>
    </div>

    {# Participants email #}
    <div>
        <label {{ aSurveyInfo.attr.registerformcolrowclabel }}> {{ gT("Email address:") }} {{ include('./subviews/required.twig') }}</label>
        <div>
            {{ C.Html.textField('register_email', aSurveyInfo.sEmail, ({'id' : 'register_email','class' : 'form-control input-sm','required' : true})) }}
        </div>
    </div>

    {# Loop to add extra attributes #}
    {% for key, aExtraAttribute in aSurveyInfo.aExtraAttributes  %}
        <div>
            {% set registerKey = "register_" ~ key %}
            <label for="{{ registerKey }}"> {{ aExtraAttribute.caption }} {% if aExtraAttribute.mandatory == 'Y' %}{{ include('./subviews/required.twig') }}{% endif %}</label>
            <div>
                {{ C.Html.textField(registerKey, aAttribute[key],({'id' : "register_{$key}",'class' : 'form-control input-sm'})) }}
            </div>
        </div>
    {% endfor %}

    {# Captcha box #}
    {% if aSurveyInfo.bCaptcha %}
        <div>
            <label {{ aSurveyInfo.attr.registerformcaptchalabel }} >{{ gT("Please enter the letters you see:") }} {{ include('./subviews/required.twig') }}</label>
            <div>
                <div>
                    <div class='{{ aSurveyInfo.class.registerformcaptchadivc }}'>
                        {{ renderCaptcha }}
                    </div>
                    <input {{ aSurveyInfo.attr.registerformcaptchainput }} >
                </div>
            </div>
        </div>
    {% endif %}

    {# Mandatory information #}
    <div>
        {{ gT('Fields marked with an asterisk are mandatory.')}}
    </div>

    {# Save button #}
    <div>
        <div>
            {% set continue = gT("Continue",'unescaped') %}
            <button {{ aSurveyInfo.attr.registersavedivbutton }}>
                {{ continue }}
            </button>
        </div>
    </div>

    {# If there is additional form parts, a.e. trhough a plugin render it out here #}
    {{ aSurveyInfo.formAdditions | raw  }}
</div>

{{ C.Html.endForm }}
