{#
/**
 * List DropDown Option Html
 * @var $value          $ansrow['code'];
 * @var $opt_select
 * @var $answer         flattenText($_prefix.$ansrow['answer'])."
 * @var $classes
 */
#}

<!-- option -->
<option data-content="{{ answer }}" value='{{ code }}' {{ opt_select }} {% if classes is not empty %} class="{{ classes }}" {% endif %} >
    {{ flattenText(answer) }}
</option>
<!-- end of option -->
