{#
/**
 * List DropDown Option Html
 * @var $value          $ansrow['code'];
 * @var $opt_select
 * @var $answer         flattenText($_prefix.$ansrow['answer'])."
 * @var $classes
 */
#}

<!-- option -->
<option data-content="{{ processString(answer,1) }}" value='{{ value }}' {{ opt_select }} {% if classes is not empty %} class="{{ classes }}" {% endif %} >
    {{ flatString(processString(answer,1),1) }}
</option>
<!-- end of option -->
