{#
/**
 * List DropDown, Other Option
 *
 * @var $name           $ia[1]
 * @var $display
 * @var $value
 * @var $checkconditionFunction
 */
#}
<div class="col-auto">
    <label for="othertext{{ name }}" class="visually-hidden">
        {{ processString(label) }}
    </label>
</div>
<div class="text-item other-text-item col-auto">
    {{ C.Html.textField(name~"_Cother",value,({
        'id' : "othertext"~name,
        'class':"form-control",
        'aria-labelledby' : "answer"~name~"-oth-",
    })) }}
</div>
<script>
if( $("#answer{{ name }}").val() != "-oth-" ){
    $("#othertext{{ name }}").hide();
}
$(document).on("change","#answer{{ name }}", function(){
    if($("#answer{{ name }}").val() != "-oth-"){
        $("#othertext{{ name }}").hide();
        $("#othertext{{ name }}").val("").trigger("keyup");
    }else{
        $("#othertext{{ name }}").show();
        $("#othertext{{ name }}").focus();
    }
});
</script>
<!-- end of othertext -->
